{% extends 'team/index.html.twig' %}

{% block title %}
   {{ team.name }}
{% endblock %}

{% block description %}
    <meta name="description" content="Статистика клуба {{ team.name }}">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('teams') }}
{% endblock %}

{% block content %}
<div class="go-all-clubs"><a href="{{ path('team') }}">Все клубы</a></div>
<div class="team-show-image">
  <div>
    <h1>{{ team.name }}</h1>
    {% if team.image %}
      <img src="{{ asset('images/clubs/') }}{{ team.image }}"
        alt="{{ team.name }}" title="{{ team.name }}" />
    {% endif %}
    </div>
</div>
<div class="team-country">Страна: {{ team.country.name }}</div>

<div id="tabs"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        {% if team.translit is defined %}
            window.teamCode = '{{ team.translit|e('js') }}';
        {% else %}
            window.teamCode = null;
        {% endif %}
    </script>

    {{ encore_entry_script_tags('teams') }}
{% endblock %}
