{% extends 'team/index.html.twig' %}

{% block title %}
   {{ team.name }}
{% endblock %}

{% block description %}
    <meta name="description" content="Статистика клуба {{ team.name }}">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('teams') }}
{% endblock %}

{% block content %}
<div class="go-all-clubs"><a href="{{ path('team') }}">Все клубы</a></div>
<div class="team-show-image">
  <div>
    <div class="team_color" style="background: #{{ team.color1 }}"></div>
    <div class="team_color" style="background: #{{ team.color2 }}"></div>
    <h1>{{ team.name }}</h1>
    {% if team.image %}
      <img src="{{ team.image }}"
        alt="{{ team.name }}" title="{{ team.name }}" />
    {% endif %}
    </div>
</div>
<div class="team-country">Страна: {{ team.country.name }}</div>

{% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path('file_form_club', {'code': app.request.get('code')}) }}"
                    class="spiski teamlch">Изменить</a>
{% endif %}

<div id="tabs"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        {% if team.translit is defined %}
            window.teamCode = '{{ team.translit|e('js') }}';
        {% else %}
            window.teamCode = null;
        {% endif %}
    </script>

    {{ encore_entry_script_tags('teams') }}
{% endblock %}
