{% extends 'shiptable/index.html.twig' %}

{% block title %}
    {{ champ.russianAlias }} {{ app.request.get('year') }}
{% endblock %}

{% block description %}
    <meta name="description" content="чемпионат {{ champ.russianAlias }} {{ app.request.get('year') }},
          бомбардиры, турнирная таблица, матчи">
{% endblock %}

{% block seasons %}
  <div class="seasons">
    {% for season in seasons %}
        {% if app.request.get('year') == season.name %}
            <strong>{{ season.name }}</strong>
        {% else %}
          <a href="{{ path('sbornie', {'turnir': app.request.get('turnir'),
            'year': season.name}) }}" class="spiski">
              {{ season.name }}</a>
        {% endif %}
    {% endfor %}
  </div>
{% endblock %}

{% block content %}

    <h1>{{ champ.russianAlias }} {{ app.request.get('year') }}</h1>
    {% if is_granted("ROLE_ADMIN") %}
        <p><a href="{{ path('sbornie_newMatch', {'season': app.request.get('year'),
          'turnir': app.request.get('turnir')}) }}">
                Добавить матч</a></p>
         {% endif %}

         {% if app.request.get('turnir') != 'otbor-worldcup' %}
          {% set cols = 5 %}
         {% else %}
          {% set cols = 4 %}
         {% endif %}

         <table>
        {% for raund in raunds %}
            <tr class="shipTableTitle">
                <td colspan="{{ cols }}" class="tableGoal">
                    {{ raund.name }}
                </td>
            </tr>
            {% for entity in raund.stadiamatches %}
                <tr class="{{ cycle(['odd', 'even'], loop.index) }} mundial-match">
                <td class="scMatch">
                  {% if entity.status == 0 %}
                      <a href="{{ path('sbornie_show', {'turnir': app.request.get('turnir'),
                      'year': app.request.get('year'), 'id': entity.id})}}" class="spiski">
                  {% endif %}
                    <div class="row">
                      <div class="_flex match_preview pos_1 col-lg-6 col-md-6 col-sm-12">
                        {% if entity.country.image %}
                          <img src="{{ entity.country.image }}"
                            alt="{{ entity.country.name }}" title="{{ entity.country.name }}" />
                        {% endif %}                     
                          <span class="spiski">{{ entity.country.name }}</span>
                      </div>
                      <div class="_flex match_preview pos_2 col-lg-6 col-md-6 col-sm-12">                   
                        {% if entity.country2.image %}
                          <img src="{{ entity.country2.image }}"
                            alt="{{ entity.country2.name }}" title="{{ entity.country2.name }}" />
                        {% endif %}
                        <span class="spiski">{{ entity.country2.name }}</span>
                      </div>
                    </div>
                  {% if entity.status == 0 %}
                      </a>
                  {% endif %}
                </td>
                <td class="scScore">
                  {% if is_granted("ROLE_ADMIN") %}
                      <a href="{{ path('sbornie_editMatch', {'id': entity.id,
                        'turnir': app.request.get('turnir') })}}">
                            {{ entity.data | date('d.m H:i') }}</a>
                  {% else %}
                        {% if entity.status == 1 %}
                          {{ entity.data | date('d.m H:i') }}
                        {% else %}
                            {{ entity.data | date('d.m') }}
                        {% endif %}
                  {% endif %}
                </td>
                <td class="scScore">
                    {% if entity.status == 1 %}
                      {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('sbornie_edit', {'id': entity.id,
                          'turnir': app.request.get('turnir') })}}">
                          -:-</a>
                      {% else %}
                        -:-
                      {%  endif %}
                    {% else %}
                      {{ entity.score }}
                    {% endif %}
                </td>
                {% if app.request.get('turnir') != 'otbor-worldcup' %}
                  <td class="scCity scScore">
                        {{ entity.city.name }}
                  </td>
                {% endif %}
                <td class="mundialGoal">
                    {{ entity.goal }}
                </td>
                </tr>
            {% endfor %}
            {% if raund.stadiatable %}
              <tr>
                <td colspan="5" class="even">
                  <table class="shipTable">
                    <thead>
                      <tr class="shipTableTitle">
                          <th>&nbsp;</th>
                          <th>&nbsp;</th>
                          <th>И</th>
                          <th>В</th>
                          <th>Н</th>
                          <th>П</th>
                          <th>M</th>
                          <th>О</th>

                      </tr>
                    </thead>
                    <tbody>
                     {% for ectable in raund.stadiatable %}
                        <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                          <td class="player-position">{{ loop.index }}</td>
                          <td class="tableLeft">
                            <span class="shipTableTeam">
                              {% if app.request.get('turnir') != 'otbor-worldcup' %}
                                  <a href="{{ path('sbornieCountry', {'turnir': app.request.get('turnir'),
                                  'year': app.request.get('year'), 'country': ectable.country.translit
                                  }) }}" class="shipTableTeam">{{ ectable.country.name }}
                              {% else %}
                                <span class="shipTableTeam">{{ ectable.country.name }}</span>
                              {% endif %}
                            </span>
                          </td>
                          <td class="shipTableParams">{{ ectable.wins+ectable.nich+ectable.porazh }}</td>
                          <td class="shipTableParams">{{ ectable.wins }}</td>
                          <td class="shipTableParams">{{ ectable.nich }}</td>
                          <td class="shipTableParams">{{ ectable.porazh }}</td>
                          <td>{{ ectable.mz }}-{{ ectable.mp }}</td>
                          <td class="shipTableParams"><b>{{ ectable.score }}</b></td>

                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  </td>
              </tr>
            {% endif %}
        {% endfor %}
    </table>

    <br/>
    {% if is_granted("ROLE_ADMIN") %}
      <p><a href="{{ path('sbornie_newSeason', {'turnir': app.request.get('turnir'),
      'season': app.request.get('year')
      }) }}">Добавить сезон</a></p>
    {% endif %}
    {% endblock %}
