{% extends 'shiptable/index.html.twig' %}

{% block title %}
    {{ champ.russianAlias }} {{ app.request.get('year') }}
{% endblock %}

{% block description %}
    <meta name="description" content="чемпионат {{ champ.russianAlias }} {{ app.request.get('year') }},
          бомбардиры, турнирная таблица, матчи">
{% endblock %}

{% block content %}
  {% block seasons %}
      {% for season in seasons %}
          {% if app.request.get('year') == season.season.name %}
              <b>{{ season.season.name }}</b>
          {% else %}
          <a href="{{ path('sbornie', {'turnir': app.request.get('turnir'),
            'year': season.season.name}) }}" class="spiski">
              {{ season.season.name }}</a>
          {% endif %}
          {% endfor %}
  {% endblock %}
  
    <h1>{{ champ.russianAlias }} {{ app.request.get('year') }}</h1>
    {% if is_granted("ROLE_ADMIN") %}
        <p><a href="{{ path('sbornie_newMatch', {'season': app.request.get('year'),
          'turnir': app.request.get('turnir')}) }}">
                Добавить матч</a></p>
         {% endif %}
    <table>
        {% for raund in raunds %}
            <tr class="shipTableTitle">
                <td colspan="5" class="tableGoal">
                    {{ raund.name }}
                </td>
            </tr>
            {% for entity in raund.stadiamatches %}
                <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                <td class="scMatch">
                    <a href="{{ path('sbornie_show', {'turnir': app.request.get('turnir'),
                     'year': app.request.get('year'), 'id': entity.id})}}" class="spiski">
                        {{ entity.country.name }} - {{ entity.country2.name }}</a>
                </td>
                <td class="scScore">
                        {{ entity.data | date('d.m H:i') }}
                </td>
                <td class="scScore">
                        {{ entity.score }}
                </td>
                <td class="scCity scScore">
                        {{ entity.city.name }}
                </td>
                <td class="mundialGoal">
                    {{ entity.goal }}
                </td>
                </tr>
                {% endfor %}
            {% endfor %}
    </table>
    {% endblock %}
