{% extends 'mundial/index.html.twig' %}

{% block title %}
    Сборная России по футболу в {{ app.request.get('season') }} году
{% endblock %}

{% block description %}
    <meta name="description" content="Сборная России по футболу в {{ app.request.get('season') }} году, статистика игроков, игры и голы">
{% endblock %}

{% block content %}
  {% block seasons %}
    <div class="seasons">
      {% for season in seasons %}
          <a href="{{ path('sbornieRus', {'season': season}) }}" class="spiski">{{ season }}</a>
          {% endfor %}
    </div>
  {% endblock %}

  <h1>Сборная России {{ app.request.get('season') }}</h1>
  <div class="champ-teams-list">
    <table>
        <thead>
            <tr class="shipTableTitle">
                <th class="teamStatGoal">&nbsp;</th>
                <th class="teamStatPlayer">&nbsp;</th>
                <th class="teamStatGoal">И</th>
                <th class="teamStatGoal">Г</th>
                <th class="teamStatGoal">И (всего)</th>
                <th class="teamStatGoal">Г (всего)</th>
            </tr>
        </thead>
        <tbody>
        {% for player in entity %}
            <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
              <td class="player-position">
                  {{ loop.index }}
             </td>
                <td>
                    <a href="{{ path('player_show', {'id': player.player.translit}) }}" class="spiski">{{ player.player.name }}</a>
               </td>
                <td class="tableGoal">
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('player_editSb',
                          {'id': player.id, 'season': app.request.get('season'),
                          'change': 'minusGame'}) }}">-</a>
                          {{ player.game }}
                        <a href="{{ path('player_editSb',
                          {'id': player.id, 'season': app.request.get('season'),
                          'change': 'plusGame'}) }}">+</a>
                    {% else %}
                      {{ player.game }}
                    {% endif %}
                </td>
                <td class="tableGoal">
                  {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('player_editSb',
                      {'id': player.id, 'season': app.request.get('season'),
                      'change': 'minusGoal'}) }}">-</a>
                      {{ player.goal }}
                    <a href="{{ path('player_editSb',
                      {'id': player.id, 'season': app.request.get('season'),
                      'change': 'plusGoal'}) }}">+</a>
                  {% else %}
                    {{ player.goal }}
                  {% endif %}
                </td>
                <td class="tableGoal">
                  {{ player.player.rusplayers.0.sbgame }}
                </td>
                <td class="tableGoal">
                  {{ player.player.rusplayers.0.sbgoal }}
                </td>
              </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
        {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('player_newSb', {'season': app.request.get('season')}) }}">
            Добавить игрока</a>
            {% endif %}
 {% endblock %}
