{% extends 'mundial/index.html.twig' %}

{% block title %}
    {{ sborn.name }} - {{ champ.russianAlias }} {{ app.request.get('year') }}
{% endblock %}

{% block content %}
<div class="teams-list mund">
    {% for country in countries %}
      {% if country.image %}
        <a href="{{ path('sbornieCountry', {'year': app.request.get('year'),
                  'country': country.translit, 'turnir': app.request.get('turnir')}) }}"
                  class="">
          <img src="{{ country.image }}"
            alt="{{ country.name }}" title="{{ country.name }}" />
        </a>
      {% else %}
        <a href="{{ path('sbornieCountry', {'year': app.request.get('year'),
                    'country': country.translit, 'turnir': app.request.get('turnir')}) }}"
                    class="spiski teamlch">{{ country.name }}</a>
      {% endif %}
    {% endfor %}
</div>

<div class="team-show-image">
  <div>
    <div class="team_color"></div>
    <div class="team_color"></div>
    <h1>
      {{ sborn.name }}
    </h1>
    {% if sbornImage %}
      <img src="{{ sbornImage }}"
        alt="{{ sborn.name }}" title="{{ sborn.name }}" />
    {% endif %}
  </div>
</div>
  {% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path('file_form', {'year': app.request.get('year'),
                    'country': app.request.get('country'), 'turnir': app.request.get('turnir')}) }}"
                    class="spiski teamlch">Изменить</a>
  {% endif %}
    <table class="table">
        <thead>
            <tr class="shipTableTitle">
                <th class="teamStatGoal">№</th>
                <th class="teamStatPlayer">&nbsp;</th>
                <th class="teamColumn">Клуб</th>
                <th class="paramColumn">Дата рождения</th>
                <th class="teamStatGoal">И</th>
                <th class="teamStatGoal">Г</th>
            </tr>
        </thead>
        <tbody>
        {% for player in entity %}
            <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                <td class="tableGoal">
                    {{ player.number }}
                </td>
                <td>
                    <a href="{{ path('player_show', {'id': player.player.translit}) }}" data-id="{{ player.id }}" class="spiski">{{ player.player.name }}</a>
                    {% if player.player.amplua == 'вратарь' %}
                      (в)
                    {% endif %}
                    <span class="loading" data-id="{{ player.id }}">
                      <img src="{{ asset('/images/loading.gif') }}">
                    </span>
               </td>
                <td>
                    {{ player.team.name }}
                    {% if player.team.country.name != sborn.name %}
                      ({{ player.team.country.name }})
                    {% endif %}
                </td>
                <td>
                    {{ player.player.born | date('d.m.Y') }}
                </td>
                <td class="tableGoal">
                  {% if is_granted("ROLE_ADMIN") %}
                  <span class="changeGameGoalPlayer"
                    data-change="minusGame"
                    data-path="playeradmin_editMund"
                    data-id="{{ player.id }}"
                    data-season="{{ app.request.get('season') }}"
                    data-team="{{ app.request.get('id') }}">-</span>
                   <span data-id="{{ player.id }}" data-param="game">
                     {{ player.game }}
                   </span>
                    <span class="changeGameGoalPlayer"
                      data-change="plusGame"
                      data-path="playeradmin_editMund"
                      data-id="{{ player.id }}"
                      data-season="{{ app.request.get('season') }}"
                      data-team="{{ app.request.get('id') }}">+</span>
                {% else %}
                {{ player.game }}
                   {% endif %}
                </td>
                <td class="tableGoal">
                    {% if is_granted("ROLE_ADMIN") %}
                    <span class="changeGameGoalPlayer"
                      data-change="minusGoal"
                      data-path="playeradmin_editMund"
                      data-id="{{ player.id }}"
                      data-season="{{ app.request.get('season') }}"
                      data-team="{{ app.request.get('id') }}">-</span>
                     <span data-id="{{ player.id }}" data-param="goal">
                       {{ player.goal }}
                     </span>
                      <span class="changeGameGoalPlayer"
                        data-change="plusGoal"
                        data-path="playeradmin_editMund"
                        data-id="{{ player.id }}"
                        data-season="{{ app.request.get('season') }}"
                        data-team="{{ app.request.get('id') }}">+</span>
                   {% else %}
                   {{ player.goal }}
                   {% endif %}</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('player_newMund', {'year': app.request.get('year'),
            'country': app.request.get('country'), 'turnir': app.request.get('turnir')}) }}">
            Добавить игрока</a>

    {% endif %}


 {% endblock %}
