{% extends 'eurocup/new.html.twig' %}

{% block title %}
    Добавить матч
{% endblock %}

{% block description %}
{% endblock %}

{% block seasons %}
{% endblock %}

{% block zagolovok %}
{% endblock %}

{% block content %}

    <p>Матч: <b>{{entity.team}} - {{entity.team2}}</b></p>
    <form action="{{ path('eurocup_update', {'id': app.request.get('id'),
        'turnir': app.request.get('turnir'), 'stadia': app.request.get('stadia')}) }}"
          method="post">
       <table>
            <tbody>
                <tr>
                    <th>{{ form_label(form.score) }}</th>
                    <td>
                        {{ form_errors(form.score) }}
                        {{ form_widget(form.score) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.bomb) }}</th>
                    <td>
                        {{ form_errors(form.bomb) }}
                        {{ form_widget(form.bomb) }}
                    </td>
                </tr>
            </tbody>
       </table>
        <p>
            {{ form_row(form._token) }}
            <button type="submit" class="spiski">Добавить</button>

        </p>
    </form>


{% endblock %}
