{% extends 'shiptable/index.html.twig' %}

{% block title %}
    Добавить игрока
{% endblock %}

{% block description %}
{% endblock %}

{% block seasons %}
{% endblock %}

{% block zagolovok %}
{% endblock %}

{% block content %}

    <form action="{{ path('player_createlchplayer', {'team': app.request.get('team'),
      'season': app.request.get('season'), 'flag': app.request.get('flag')}) }}" method="post">
       <table>
            <tbody>
                <tr>
                    <th>{{ form_label(form.player) }}</th>
                    <td>
                        {% if app.request.get('flag') == 'all' %}
                            <input type="text" id="rus_player" autocomplete="off" />
                            <input type="hidden" id="rus_player_hidden" name="lchplayer[player]" />
                            <div class="player_search_result">
                                <div class="player_search_result_items"></div>
                            </div>
                        {% else %}
                            {{ form_errors(form.player) }}
                            {{ form_widget(form.player) }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.game) }}</th>
                    <td>
                        {{ form_errors(form.game) }}
                        {{ form_widget(form.game) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.goal) }}</th>
                    <td>
                        {{ form_errors(form.goal) }}
                        {{ form_widget(form.goal) }}
                    </td>
                </tr>

            </tbody>
       </table>
        <p>
            {{ form_row(form._token) }}
            <button type="submit" class="spiski">Добавить</button>

        </p>
    </form>
<a href="{{ path('eurocup_show', {'id': app.request.get('team'), 'season': app.request.get('season'), 'turnir' : 'leagueChampions'}) }}">Назад</a>

{% endblock %}
