{% extends 'eurocup/showMatch.html.twig' %}

{% block title %}
    Состав команды {{ team.name }} в еврокубках сезона {{ app.request.get('season') }}
{% endblock %}

{% block description %}
    <meta name="description" content="{{ team.name }}, еврокубки,
          {{ app.request.get('season') }}, кто играл, кто забивал" />
{% endblock %}

{% block seasons %}
{% endblock %}

{% block teams %}
{% endblock %}

{% block content %}
<h1>Еврокубки {{ app.request.get('season') }}. {{ team.name }}</h1>
    <table>
        <thead>
            <tr class="shipTableTitle">
                <th rowspan="2" class="teamStatPlayer">&nbsp;</th>
                <th colspan="2">{{ app.request.get('season') }}</th>
                <th colspan="2">Всего за клуб</th>
                <th colspan="2">Всего</th>
            </tr>
            <tr class="shipTableTitle">

                <th class="teamStatGoal">И</th>
                <th class="teamStatGoal">Г</th>
                <th class="teamStatGoal">И</th>
                <th class="teamStatGoal">Г</th>
                <th class="teamStatGoal">И</th>
                <th class="teamStatGoal">Г</th>
            </tr>
        </thead>
        <tbody>
        {% for player in entity %}
            <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                <td>
                    <a href="{{ path('player_show', {'id': player.player.translit}) }}" class="spiski">{{ player.player.name }}</a>
               </td>
                <td class="tableGoal">
                    {% if is_granted("ROLE_ADMIN") %}
                    <span class="changeGameGoalPlayer"
                      data-change="minusGame"
                      data-path="playeradmin_editEc"
                      data-id="{{ player.id }}"
                      data-turnir="{{ app.request.get('turnir') }}"
                      data-season="{{ app.request.get('season') }}"
                      data-team="{{ app.request.get('id') }}">-</span>
                      <span data-id="{{ player.id }}" data-param="game">
                        {{ player.game }}
                      </span>
                        <span class="changeGameGoalPlayer"
                          data-change="plusGame"
                          data-path="playeradmin_editEc"
                          data-id="{{ player.id }}"
                          data-turnir="{{ app.request.get('turnir') }}"
                          data-season="{{ app.request.get('season') }}"
                          data-team="{{ app.request.get('id') }}">+</span>
                    {% else %}
                      {{ player.game }}
                    {% endif %}
                </td>
                <td class="tableGoal">
                  {% if is_granted("ROLE_ADMIN") %}
                    <span class="changeGameGoalPlayer"
                      data-change="minusGoal"
                      data-path="playeradmin_editEc"
                      data-id="{{ player.id }}"
                      data-turnir="{{ app.request.get('turnir') }}"
                      data-season="{{ app.request.get('season') }}"
                      data-team="{{ app.request.get('id') }}">-</span>
                    <span data-id="{{ player.id }}" data-param="goal">
                      {{ player.goal }}
                    </span>
                    <span class="changeGameGoalPlayer"
                        data-change="plusGoal"
                        data-path="playeradmin_editEc"
                        data-id="{{ player.id }}"
                        data-turnir="{{ app.request.get('turnir') }}"
                        data-season="{{ app.request.get('season') }}"
                        data-team="{{ app.request.get('id') }}">+</span>
                  {% else %}
                    {{ player.goal }}
                  {% endif %}
                </td>
                <td class="tableGoal">{{ player.gameTeam }}</td>
                <td class="tableGoal">{{ player.goalTeam }}</td>
                <td class="tableGoal">{{ player.player.rusplayers.0.totalgame }}</td>
                <td class="tableGoal">{{ player.player.rusplayers.0.totalgoal }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('player_newEc', {'season': app.request.get('season'),
         'team': app.request.get('id'), 'turnir': app.request.get('turnir')}) }}">
            Добавить игрока</a>
            {% endif %}
 {% endblock %}
