{% extends 'shiptable/index.html.twig' %}

{% block title %}
    Суперкубок {{ rus_country }} - результаты, авторы забитых мячей
{% endblock %}

{% block description %}
    <meta name="description" content="Матчи суперкубка {{ rus_country }}">
{% endblock %}

{% block seasons %}
{% endblock %}


{% block content %}

<div><h1>Суперкубок {{ rus_country }}</h1></div>

{% if is_granted("ROLE_ADMIN") %}
  <p><a href="{{ path('nationsupercup_newMatch', {
    'country': app.request.get('country')}) }}">
  Добавить матч</a></p>
{% endif %}

    <table class="supercup">
        {% for entity in entities %}
            <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                <td class="scSeason">
                    <strong>{{ entity.season.name }}</strong>
                </td>
                <td>
                    <div>
                      {% if is_granted("ROLE_ADMIN") %}
                          <a href="{{ path('nationsupercup_new', {
                            'id': entity.id, 'country': app.request.get('country')}) }}">
                            {{ entity.data | date('d.m H:i') }}</a>
                      {% else %}
                            {% if entity.status == 1 %}
                              {{ entity.data | date('d.m H:i') }}
                            {% else %}
                                {{ entity.data | date('d.m') }}
                            {% endif %}
                      {% endif %}
                    </div>
                </td>
                <td class="scMatch">
                    {% if app.request.get('country') == 'russia' or app.request.get('country') == 'uefa' %}
                    <a href="{{ path('supercup_show', {'id': entity.id,
                     'country': app.request.get('country')}) }}">
                        {{ entity.team.name }} - {{ entity.team2 }}</a>
                        {% else %}
                            {{ entity.team.name }} - {{ entity.team2 }}
                        {% endif %}
                </td>
                <td class="scScore">
                    {{ entity.score }}
                </td>
                <td class="scBomb">
                    {{ entity.bomb }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
