<div class="champ-table champs">
  <div class='calendar'>
    <table class="champ-rus-bomb">
        <thead>
            <tr class="shipTableTitle">
                <th colspan="2" class="calendar-title">Бомбардиры</th>
            </tr>
        </thead>
        <tbody>
        {% for key, fnlBomb in fnlBombs %}
            <tr>
                <td class="bomb-numb-goals"><strong>{{ key }}:</strong></td>
                <td class="">
                  {{ fnlBomb }}.
                </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% if tourCalend %}
  <div class='calendar'>
    <div class="calendar-title">МАТЧИ, МАТЧИ</div>
    {% for champ, matchCountry in tourCalend %}
      {% if champ == country ~ '-champ' or (champ == 'rfpl' and country == 'rfpl') or (champ == 'fnl' and country == 'ФНЛ') %}
        {% for k, matchDate in matchCountry %}
          <div><strong>{{ k | replace({'.9': ' сентября', '.10': ' октября', '.11': ' ноября', '.12': ' декабря',
            '.1': ' января', '.2': ' февраля', '.3': ' марта', '.4': ' апреля', '.5': ' мая', '.6': ' июня', '.7': ' июля', '.8': ' августа'}) }}</strong></div>
          {% for match in matchDate %}
            <div>{{ match.team }} - {{ match.team2 }}</div>
          {% endfor %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}
</div>
