<div class="np-champ-matches top5 cups">
  {% for stadia, arRaram in arr %}
    {% for param, val in arRaram %}
      {% if param == 'turnir' %}
        <hr/>
        <h3>{{ val }}</h3>
      {% else %}
        <h4>{{ stadia }}</h4>
        {% for match in val %}
          {% set isMatches = true %}
          <div>
            <span class="np-matches-team"><b>{{ match.team.name }}</b> -
            <b>{{ match.team2.name }}</b> -
            {{ match.score }}</span>
            {% if match.bomb != '-' %}
            (<span>{{ match.bomb | replace({'(а)': ' - в свои ворота', '(п)': ' - с пенальти'}) }}</span>).
            {% endif %}
          </div>
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
