{% extends 'base.html.twig' %}

{% block sidebar %}
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 sidebar">
      <div class="panel panel-success">
        <div class="panel-body calendar">
          {{ include('default/calendar.html.twig', { 'daymatch': yestmatch, 'day': 'Вчера' }) }}
          {{ include('default/calendar.html.twig', { 'daymatch': curmatch, 'day': 'Сегодня' }) }}
          {{ include('default/calendar.html.twig', { 'daymatch': tommatch, 'day': 'Завтра' }) }}
        </div>
      </div>

      <div class="panel panel-success">
        <div class="panel-heading">Дни Рождения</div>
        <div class="panel-body">
          <ul>
            {% for birthday in birthdays %}
              <li>
                <a href="{{ path('player_show', {'id': birthday.translit}) }}" class="spiski">{{ birthday.name }}</a>
                ({{ birthday.age }})
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="panel panel-success">
        <div class="panel-heading">Лучшие бомбардиры пяти ведущих чемпионатов и России (во всех клубных турнирах)</div>
        <div class="panel-body top-bomb">
          <table class="table">
            <thead>
              <tr class="shipTableTitle">
                <th class="bombName" colspan="2">&nbsp;</th>
                <th>Клуб</th>
                <th>Г</th>
              </tr>
            </thead>
            <tbody>
            {% for bomb in bombTotal %}
              <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                <td class="player-position">{{ loop.index }}</td>
                <td class="bomb5">
                  <a href="{{ path ('player_show', {'id': bomb.translit}) }}" class="list-item"> {{ bomb.playername }} </a>
                </td>
                <td class="bombTeam">{{ bomb.name }}</td>
                <td class="tableGoal">{{ bomb.sum }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      {% if is_granted("ROLE_ADMIN") %}
      <div class="panel panel-success">
        <div class="panel-heading">Популярные</div>
        <div class="panel-body top-bomb">
          <table class="table">
            <thead>
              <tr class="shipTableTitle">
                <th class="bombName" colspan="2">&nbsp;</th>
                <th>Просмотров</th>
              </tr>
            </thead>
            <tbody>
            {% for gamer in popular %}
              <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                <td class="player-position">{{ loop.index }}</td>
                <td class="bomb5">
                  <a href="{{ path('player_show', {'id': gamer.translit}) }}" class="list-item">{{ gamer.name }}</a>
                </td>
                <td class="tableGoal">{{ gamer.viewed }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
      
      <div class="panel panel-success">
        <div class="panel-heading">Последние добавленные футболисты</div>
        <div class="panel-body">
          <ul>
            {% for player in lastPlayers %}
              <li>
                <a href="{{ path('player_show', {'id': player.translit}) }}" class="list-item">{{ player.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}
  <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
    {{ include('stat/data.html.twig', { 'topMatchesRus': topMatchesRus,
    'topMatchesRusCurr': topMatchesRusCurr,
    'topGoalsRus': topGoalsRus,
    'topGoalsRusCurr': topGoalsRusCurr,
    'topGoalkeepers': topGoalkeepers,
    'topGoalkeepersCurr': topGoalkeepersCurr,
    'maxAgePlayers': maxAgePlayers,
    'minAgePlayers': minAgePlayers }) }}
  </div>
</div>
{% endblock %}
