<div class="champ-table lch-table">
  <table class="shipTable">
      <thead>
          <tr class="shipTableTitle">
              <th>&nbsp;</th>
              <th>&nbsp;</th>
              <th class="winsTable">И</th>
              <th class="winsTable">В</th>
              <th class="winsTable">Н</th>
              <th class="winsTable">П</th>
              <th class="goalsTable">M</th>
              <th class="winsTable">О</th>

          </tr>
      </thead>
      <tbody>
      {% for entity in arr %}
          <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
              <td class="player-position">{{ loop.index }}.</td>
              <td class="tableLeft">{{ entity.team.name | upper }}</td>
              <td>{{ entity.wins+entity.nich+entity.porazh }}</td>
              <td>{{ entity.wins }}</td>
              <td>{{ entity.nich }}</td>
              <td>{{ entity.porazh }}</td>
              <td>{{ entity.mz }}-{{ entity.mp }}</td>
              <td class="table-score">{{ entity.score }}</td>
          </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
