<div class="eurocup-matches-sostav">
  <div class="eurocup-matches-sostav-title">
    <div class="match-sostav-title">
      <span class="match-main-info">
        {{ match.country.name | upper}} -
        {{ match.country2.name | upper }} -
        {% if not match.stadia %}
          {{ match.goal1 }}:{{ match.goal2 }}
        {% else %}
          {{ match.score }}
        {% endif %}
      </span>
    </div>
    <div class="match-info">
      {% if match.country.image %}
        <img class="match-team-img" src="{{ asset('images/') }}{{ match.country.image }}" style="float: left;" />
      {% endif %}

      {% if match.city %}
      <span class="match-main-info info">
        {{ match.city.name }}.
        {{ match.data | date('d') }} {{ mnths[match.data | date('n')] }}.
        {% if match.zriteli > 0 %}
          {{ match.zriteli | number_format(0, '.', ' ') }} зрителей.<br/>
        {% endif %}
        {% if match.referee %}
          <br/>Судья {{ match.referee.name }} ({{ match.referee.country.name }}).
        {% endif %}
      </span>
      {% endif %}
      {% if match.country.image %}
        <img class="match-team2-img" src="{{ asset('images/') }}{{ match.country2.image }}" style="float: left;" />
      {% endif %}
    </div>
  </div>
  {% if match.game %}
       <div class="match-sostav">
        {% if match.game and match.game != '-' %}
          <p><em><b>{{ match.country.name }}</b></em>:
            {{ match.game }}</p>
        {% endif %}
        {% if match.game2 and match.game2 != '-' %}
          <p><em><b>{{ match.country2.name }}</b></em>:
            {{ match.game2 }}</p>
        {% endif %}
          {% if match.goal != '-' %}
          <p><b>Голы</b>: {{ match.goal }}.</p>
          {% endif %}
      </div>
  {% endif %}
  {% if match.penalty and match.penalty != '-' %}
    <div class="match-sostav">
      <strong>Наказания</strong>: {{ match.penalty }}.
    </div>
  {% endif %}
</div>
