<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Еженедельник "СоколСтат"</title>
    <link type="text/css" rel="stylesheet" href="https://localhost:8000/css/newspaper.css" />
</head>
<body>
  <div class="container">
    <div class="np-title">
      <img src="https://localhost:8000/images/logo-newspaper.png" />
    </div>
    <div><strong>№ 1</strong>&nbsp;&nbsp;&nbsp;&nbsp;12 МАРТА</div>
    <div class="prime-image"><img src="https://localhost:8000/images/2021-03-09_12-50.png" /></div>
    <div class="prime-image-title">Квинси Промес - автор победного мяча в ворота "Краснодара"</div>
    <div class="prime-bottom-blocks">
        <div>
            <h3>Заголовок</h3>
        </div>
        <div>
          <h3>Заголовок</h3>
        </div>
        <div>
          <h3>Заголовок</h3>
        </div>
    </div>

    <div>
      {% if rfplMatch is not empty %}
        <h3>Российская Премьер-Лига</h3>
        {% for tour in rfplTours %}
        <h4>{{ tour }}-й тур</h4>
          {% for match in rfplMatch %}
            {% if match.tour == tour %}
              <b>{{ match.team.name }}</b> - <b>{{ match.team2.name }}</b> -
              {{ match.goal1 }}:{{ match.goal2 }} (<span>{{ match.bomb }}</span>)
            {% endif %}
          {% endfor %}
        {% endfor %}

        {% for key, country in tours %}
          {% if key == 'Россия' %}
          <h3>{{ key }}</h3>

            {% for k, arr in country %}
              {% if k == 'tour' %}
                <div class="np-champ-matches">
                  {% for numb, tour in arr %}
                    <h4>{{ numb }}-й тур</h4>
                    {% for match in tour %}
                      <div>
                        <span class="np-matches-team"><b>{{ match.team.name }}</b> -
                        <b>{{ match.team2.name }}</b> -
                        {{ match.goal1 }}:{{ match.goal2 }}</span>
                        (<span>{{ match.bomb }}</span>).
                      </div>
                    {% endfor %}
                  {% endfor %}
                </div>
              {% endif %}

              {% if k == 'table' %}
                <div class="champ-table champs">
                  <table class="shipTable">
                      <thead>
                          <tr class="shipTableTitle">
                              <th>&nbsp;</th>
                              <th>&nbsp;</th>
                              <th class="winsTable">И</th>
                              <th class="winsTable">В</th>
                              <th class="winsTable">Н</th>
                              <th class="winsTable">П</th>
                              <th class="goalsTable">M</th>
                              <th class="winsTable">О</th>

                          </tr>
                      </thead>
                      <tbody>
                      {% for entity in arr %}
                          <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                              <td class="player-position">{{ loop.index }}.</td>
                              <td class="tableLeft">{{ entity.team.name }}</td>
                              <td>{{ entity.wins+entity.nich+entity.porazh }}</td>
                              <td>{{ entity.wins }}</td>
                              <td>{{ entity.nich }}</td>
                              <td>{{ entity.porazh }}</td>
                              <td>{{ entity.mz }}-{{ entity.mp }}</td>
                              <td class="table-score">{{ entity.score }}</td>
                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>
                  </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% for key, country in tours %}
        {% if key == 'ФНЛ' %}


          {% for k, arr in country %}
            {% set isMatches = false %}
            {% if k == 'tour' %}
              <h3>{{ key }}</h3>
              <div class="np-champ-matches">
                {% for numb, tour in arr %}
                  <h4>{{ numb }}-й тур</h4>
                  {% for match in tour %}
                    {% set isMatches = true %}
                    <div>
                      <span class="np-matches-team"><b>{{ match.team.name }}</b> -
                      <b>{{ match.team2.name }}</b> -
                      {{ match.goal1 }}:{{ match.goal2 }}</span>
                      (<span>{{ match.bomb }}</span>).
                    </div>
                  {% endfor %}
                {% endfor %}
              </div>
            {% endif %}

            {% if k == 'table' and country.tour is defined %}
              <div class="champ-table champs">
                <table class="shipTable">
                    <thead>
                        <tr class="shipTableTitle">
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th class="winsTable">И</th>
                            <th class="winsTable">В</th>
                            <th class="winsTable">Н</th>
                            <th class="winsTable">П</th>
                            <th class="goalsTable">M</th>
                            <th class="winsTable">О</th>

                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in arr %}
                        <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                            <td class="player-position">{{ loop.index }}.</td>
                            <td class="tableLeft">{{ entity.team.name }}</td>
                            <td>{{ entity.wins+entity.nich+entity.porazh }}</td>
                            <td>{{ entity.wins }}</td>
                            <td>{{ entity.nich }}</td>
                            <td>{{ entity.porazh }}</td>
                            <td>{{ entity.mz }}-{{ entity.mp }}</td>
                            <td class="table-score">{{ entity.score }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}

      <div class="np-champ-matches">
        {% if lch is not empty %}
        <div class="title-emblem">
          <img src="https://localhost:8000/images/lch.jpg" class="emblem-turnir" />
          <div class="top-line">ЛИГА ЧЕМПИОНОВ. 1/8 финала. ОТВЕТНЫЕ МАТЧИ</div>
          <h2>Дальше без Роналду</h2>
        </div>
        <article class="textcols">
          Если вы новичок и еще не работали с консолью, но уже хотите работать с Git и GitHub, то вместо поиска подходящего GUI, советую вам присмотреться к редактору Atom.
Atom — отличный редактор кода с богатым функционалом и очень гибкой настройкой. Так как он разрабатывался командой GitHub, то вполне логичным и долгожданным стало появление в стартовой сборке версий 1.18+ одноименного пакета “GitHub”, позволяющего работать с репозиториями и системой контроля версий напрямую из редактора без установки дополнительных программ, в том числе даже GitHub Desktop.
Работа с пакетом ведется через панели Git и GitHub. Их можно открыть через меню редактора: Packages -> GitHub -> Toggle Git Tab, или сочетанием клавиш Ctrl + Shift + 9 для Git и Ctrl + Shift + 8 для GitHub.
        </article>
        <div>
          {% for match in lch %}
            <div class="eurocup-matches-sostav">
              <div class="eurocup-matches-sostav-title">
                <img src="{{ asset('images/clubs/') }}{{ match.team.image2 }}" />
                <span class="np-matches-team"><b>{{ match.team.name | upper}}</b> -
                <b>{{ match.team2.name | upper }}</b> -
                {{ match.score | replace({'-': ":"}) }}</span>
                <img src="{{ asset('images/clubs/') }}{{ match.team2.image2 }}" />
              </div>
              {% if match.ecsostav %}
                   <div>
                      <p><em><b>{{ match.team.name }}</b></em>:
                        {{ match.ecsostav.team }}</p>
                      <p><em><b>{{ match.team2.name }}</b></em>: {{ match.ecsostav.team2 }}</p>
                      {% if match.score != '0-0' %}
                      <p><b>Голы</b>: {{ match.bomb }}.</p>
                      {% endif %}
                  </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        {% endif %}

        {% if le is not empty %}
          <div class="title-emblem">
            <img src="https://localhost:8000/images/le.png" class="emblem-turnir" />
            <div class="top-line">ЛИГА ЕВРОПЫ. 1/16 финала. ОТВЕТНЫЕ МАТЧИ</div>
            <h2>Провал Германии</h2>
          </div>
          <article class="textcols">
            Если вы новичок и еще не работали с консолью, но уже хотите работать с Git и GitHub, то вместо поиска подходящего GUI, советую вам присмотреться к редактору Atom.
Atom — отличный редактор кода с богатым функционалом и очень гибкой настройкой. Так как он разрабатывался командой GitHub, то вполне логичным и долгожданным стало появление в стартовой сборке версий 1.18+ одноименного пакета “GitHub”, позволяющего работать с репозиториями и системой контроля версий напрямую из редактора без установки дополнительных программ, в том числе даже GitHub Desktop.
Работа с пакетом ведется через панели Git и GitHub. Их можно открыть через меню редактора: Packages -> GitHub -> Toggle Git Tab, или сочетанием клавиш Ctrl + Shift + 9 для Git и Ctrl + Shift + 8 для GitHub.
          </article>
          <div class="eurocup-matches">
            {% for match in le %}
              <div>
                <span class="np-matches-team"><b>{{ match.team.name | upper }}</b> -
                <b>{{ match.team2.name | upper }}</b> -
                {{ match.score }}</span>
                (<span>{{ match.bomb }}</span>).
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      {% for key, country in tours %}
        {% if key != 'Россия' and key != 'ФНЛ' %}


          {% for k, arr in country %}
            {% set isMatches = false %}
            {% if k == 'tour' %}
              <h3>{{ key }}</h3>
              <div class="np-champ-matches">
                {% for numb, tour in arr %}
                  <h4>{{ numb }}-й тур</h4>
                  {% for match in tour %}
                    {% set isMatches = true %}
                    <div>
                      <span class="np-matches-team"><b>{{ match.team.name }}</b> -
                      <b>{{ match.team2.name }}</b> -
                      {{ match.goal1 }}:{{ match.goal2 }}</span>
                      (<span>{{ match.bomb }}</span>).
                    </div>
                  {% endfor %}
                {% endfor %}
              </div>
            {% endif %}

            {% if k == 'table' and country.tour is defined %}
              <div class="champ-table champs">
                <table class="shipTable">
                    <thead>
                        <tr class="shipTableTitle">
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th class="winsTable">И</th>
                            <th class="winsTable">В</th>
                            <th class="winsTable">Н</th>
                            <th class="winsTable">П</th>
                            <th class="goalsTable">M</th>
                            <th class="winsTable">О</th>

                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in arr %}
                        <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                            <td class="player-position">{{ loop.index }}.</td>
                            <td class="tableLeft">{{ entity.team.name }}</td>
                            <td>{{ entity.wins+entity.nich+entity.porazh }}</td>
                            <td>{{ entity.wins }}</td>
                            <td>{{ entity.nich }}</td>
                            <td>{{ entity.porazh }}</td>
                            <td>{{ entity.mz }}-{{ entity.mp }}</td>
                            <td class="table-score">{{ entity.score }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}

      </div>
    </div>
</body>
</html>
