{% set host = 'localhost:8000' %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Еженедельник "СоколСтат"</title>
    <link type="text/css" rel="stylesheet" href="https://{{ host }}/css/newspaper.css" />
</head>
<body>
  <div class="container">
    <div class="np-title">
      <img src="https://{{ host }}/images/logo-newspaper.png" />
    </div>
    <div><strong>№ 1</strong>&nbsp;&nbsp;&nbsp;&nbsp;12 МАРТА</div>
    <div class="prime-image"><img src="https://{{ host }}/images/2021-03-09_12-50.png" /></div>
    <div class="prime-image-title">Квинси Промес - автор победного мяча в ворота "Краснодара"</div>
    <div class="prime-bottom-blocks">
        <div>
            <h3>Заголовок</h3>
        </div>
        <div>
          <h3>Заголовок</h3>
        </div>
        <div>
          <h3>Заголовок</h3>
        </div>
    </div>
    {% set mnths = ['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'] %}

    <div>
      {% if rfplMatch %}
        <div class="title-emblem">
          <img src="https://{{ host }}/images/rfpl.png" class="emblem-turnir" />
          <div class="top-line">Российская Премьер-Лига</div>
        </div>
        <div class="article">
          <h2 class="article-title">Заголовок</h2>
          <article class="textcols">
            <p>Если вы новичок и еще не работали с консолью, но уже хотите работать с Git и GitHub, то вместо поиска подходящего GUI, советую вам присмотреться к редактору Atom.
  Atom — отличный редактор кода с богатым функционалом и очень гибкой настройкой. Так как он разрабатывался командой GitHub, то вполне логичным и долгожданным стало появление в стартовой сборке версий 1.18+ одноименного пакета “GitHub”, позволяющего работать с репозиториями и системой контроля версий напрямую из редактора без установки дополнительных программ, в том числе даже GitHub Desktop.
  Работа с пакетом ведется через панели Git и GitHub. Их можно открыть через меню редактора: Packages -> GitHub -> Toggle Git Tab,
  или сочетанием клавиш Ctrl + Shift + 9 для Git и Ctrl + Shift + 8 для GitHub.</p>
  <p>Если вы новичок и еще не работали с консолью, но уже хотите работать с Git и GitHub, то вместо поиска подходящего GUI, советую вам присмотреться к редактору Atom.
Atom — отличный редактор кода с богатым функционалом и очень гибкой настройкой. Так как он разрабатывался командой GitHub, то вполне логичным и долгожданным стало появление в стартовой сборке версий 1.18+ одноименного пакета “GitHub”, позволяющего работать с репозиториями и системой контроля версий напрямую из редактора без установки дополнительных программ, в том числе даже GitHub Desktop.
Работа с пакетом ведется через панели Git и GitHub. Их можно открыть через меню редактора: Packages -> GitHub -> Toggle Git Tab,
или сочетанием клавиш Ctrl + Shift + 9 для Git и Ctrl + Shift + 8 для GitHub.</p>
<p>Если вы новичок и еще не работали с консолью, но уже хотите работать с Git и GitHub, то вместо поиска подходящего GUI, советую вам присмотреться к редактору Atom.
Atom — отличный редактор кода с богатым функционалом и очень гибкой настройкой. Так как он разрабатывался командой GitHub, то вполне логичным и долгожданным стало появление в стартовой сборке версий 1.18+ одноименного пакета “GitHub”, позволяющего работать с репозиториями и системой контроля версий напрямую из редактора без установки дополнительных программ, в том числе даже GitHub Desktop.
Работа с пакетом ведется через панели Git и GitHub. Их можно открыть через меню редактора: Packages -> GitHub -> Toggle Git Tab,
или сочетанием клавиш Ctrl + Shift + 9 для Git и Ctrl + Shift + 8 для GitHub.</p>
<p>Если вы новичок и еще не работали с консолью, но уже хотите работать с Git и GitHub, то вместо поиска подходящего GUI, советую вам присмотреться к редактору Atom.
Atom — отличный редактор кода с богатым функционалом и очень гибкой настройкой. Так как он разрабатывался командой GitHub, то вполне логичным и долгожданным стало появление в стартовой сборке версий 1.18+ одноименного пакета “GitHub”, позволяющего работать с репозиториями и системой контроля версий напрямую из редактора без установки дополнительных программ, в том числе даже GitHub Desktop.
Работа с пакетом ведется через панели Git и GitHub. Их можно открыть через меню редактора: Packages -> GitHub -> Toggle Git Tab,
или сочетанием клавиш Ctrl + Shift + 9 для Git и Ctrl + Shift + 8 для GitHub.</p>
<p>Если вы новичок и еще не работали с консолью, но уже хотите работать с Git и GitHub, то вместо поиска подходящего GUI, советую вам присмотреться к редактору Atom.
Atom — отличный редактор кода с богатым функционалом и очень гибкой настройкой. Так как он разрабатывался командой GitHub, то вполне логичным и долгожданным стало появление в стартовой сборке версий 1.18+ одноименного пакета “GitHub”, позволяющего работать с репозиториями и системой контроля версий напрямую из редактора без установки дополнительных программ, в том числе даже GitHub Desktop.
Работа с пакетом ведется через панели Git и GitHub. Их можно открыть через меню редактора: Packages -> GitHub -> Toggle Git Tab,
или сочетанием клавиш Ctrl + Shift + 9 для Git и Ctrl + Shift + 8 для GitHub.</p>
<img src="https://{{ host }}/images/jikia.png" class="article-img">
          </article>
        </div>
        {% for tour in rfplTours %}
        <h4>{{ tour }}-й тур</h4>
          {% for match in rfplMatch %}
            {% if match.tour == tour %}
              {{ include('default/rfplMatchesBlock.html.twig', { 'match': match }) }}
            {% endif %}
          {% endfor %}
        {% endfor %}

        {% for key, country in tours %}
          {% if key == 'Россия' %}

            {% for k, arr in country %}

              {% if k == 'table' %}
                {{ include('default/tableBlock.html.twig', { 'arr': arr }) }}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endif %}

      <div class="champ-table champs">
          <table class="champ-rus-bomb">
              <thead>
                  <tr class="shipTableTitle">
                      <th colspan="2" class="calendar-title">Бомбардиры</th>
                  </tr>
              </thead>
              <tbody>
              {% for key, rusBomb in rusBombs %}
                  <tr>
                      <td class="bomb-numb-goals"><strong>{{ key }}:</strong></td>
                      <td class="">
                        {{ rusBomb }}.
                      </td>
                  </tr>
              {% endfor %}
            </tbody>
        </table>
        <div class='calendar'>
          <div class="calendar-title">МАТЧИ, МАТЧИ</div>
          {% for key, matchDate in rfplMatchCalend %}
            <div><strong>{{ key | replace({'.10': ' октября'}) }}</strong></div>
            {% for match in matchDate %}
              <div>{{ match.team }} - {{ match.team2 }}</div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>

      {% for key, country in tours %}
        {% if key == 'ФНЛ' %}
          {{ include('default/titleEmblemBlock.html.twig', { 'host': host, 'fileName': 'logo2020.png', 'title': 'Первенство ФНЛ' }) }}
          <div class="article">
            <h2 class="article-title">Заголовок</h2>
            <article class="textcols">
              <p>Если вы новичок и еще не работали с консолью, но уже хотите работать с Git и GitHub, то вместо поиска подходящего GUI, советую вам присмотреться к редактору Atom.
    Atom — отличный редактор кода с богатым функционалом и очень гибкой настройкой. Так как он разрабатывался командой GitHub, то вполне логичным и долгожданным стало появление в стартовой сборке версий 1.18+ одноименного пакета “GitHub”, позволяющего работать с репозиториями и системой контроля версий напрямую из редактора без установки дополнительных программ, в том числе даже GitHub Desktop.
    Работа с пакетом ведется через панели Git и GitHub. Их можно открыть через меню редактора: Packages -> GitHub -> Toggle Git Tab,
    или сочетанием клавиш Ctrl + Shift + 9 для Git и Ctrl + Shift + 8 для GitHub.</p>
    <p>Если вы новичок и еще не работали с консолью, но уже хотите работать с Git и GitHub, то вместо поиска подходящего GUI, советую вам присмотреться к редактору Atom.
  Atom — отличный редактор кода с богатым функционалом и очень гибкой настройкой. Так как он разрабатывался командой GitHub, то вполне логичным и долгожданным стало появление в стартовой сборке версий 1.18+ одноименного пакета “GitHub”, позволяющего работать с репозиториями и системой контроля версий напрямую из редактора без установки дополнительных программ, в том числе даже GitHub Desktop.
  Работа с пакетом ведется через панели Git и GitHub. Их можно открыть через меню редактора: Packages -> GitHub -> Toggle Git Tab,
  или сочетанием клавиш Ctrl + Shift + 9 для Git и Ctrl + Shift + 8 для GitHub.</p>
  <p>Если вы новичок и еще не работали с консолью, но уже хотите работать с Git и GitHub, то вместо поиска подходящего GUI, советую вам присмотреться к редактору Atom.
  Atom — отличный редактор кода с богатым функционалом и очень гибкой настройкой. Так как он разрабатывался командой GitHub, то вполне логичным и долгожданным стало появление в стартовой сборке версий 1.18+ одноименного пакета “GitHub”, позволяющего работать с репозиториями и системой контроля версий напрямую из редактора без установки дополнительных программ, в том числе даже GitHub Desktop.
  Работа с пакетом ведется через панели Git и GitHub. Их можно открыть через меню редактора: Packages -> GitHub -> Toggle Git Tab,
  или сочетанием клавиш Ctrl + Shift + 9 для Git и Ctrl + Shift + 8 для GitHub.</p>
  <p>Если вы новичок и еще не работали с консолью, но уже хотите работать с Git и GitHub, то вместо поиска подходящего GUI, советую вам присмотреться к редактору Atom.
  Atom — отличный редактор кода с богатым функционалом и очень гибкой настройкой. Так как он разрабатывался командой GitHub, то вполне логичным и долгожданным стало появление в стартовой сборке версий 1.18+ одноименного пакета “GitHub”, позволяющего работать с репозиториями и системой контроля версий напрямую из редактора без установки дополнительных программ, в том числе даже GitHub Desktop.
  Работа с пакетом ведется через панели Git и GitHub. Их можно открыть через меню редактора: Packages -> GitHub -> Toggle Git Tab,
  или сочетанием клавиш Ctrl + Shift + 9 для Git и Ctrl + Shift + 8 для GitHub.</p>
  <p>Если вы новичок и еще не работали с консолью, но уже хотите работать с Git и GitHub, то вместо поиска подходящего GUI, советую вам присмотреться к редактору Atom.
  Atom — отличный редактор кода с богатым функционалом и очень гибкой настройкой. Так как он разрабатывался командой GitHub, то вполне логичным и долгожданным стало появление в стартовой сборке версий 1.18+ одноименного пакета “GitHub”, позволяющего работать с репозиториями и системой контроля версий напрямую из редактора без установки дополнительных программ, в том числе даже GitHub Desktop.
  Работа с пакетом ведется через панели Git и GitHub. Их можно открыть через меню редактора: Packages -> GitHub -> Toggle Git Tab,
  или сочетанием клавиш Ctrl + Shift + 9 для Git и Ctrl + Shift + 8 для GitHub.</p>
            </article>
          </div>
          {% for k, arr in country %}
            {% set isMatches = false %}
            {% if k == 'tour' %}
              {{ include('default/top5MatchesBlock.html.twig', { 'arr': arr }) }}
            {% endif %}

            {% if k == 'table' and country.tour is defined %}
              {{ include('default/tableBlock.html.twig', { 'arr': arr }) }}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
      {{ include('default/bombBlock.html.twig', { 'fnlBombs': fnlBombs, 'tourCalend': tourCalend, 'country': 'ФНЛ' }) }}

{# Lch #}
      <div class="np-champ-matches">
        {% if lch['lch'] is not empty %}
          {{ include('default/titleEmblemBlock.html.twig', { 'host': host, 'fileName': 'lch.jpg', 'title': 'ЛИГА ЧЕМПИОНОВ. ГРУППОВОЙ ЭТАП' }) }}
          <h2 class="article-title">Заголовок</h2>
          <article class="textcols">
            Если вы новичок и еще не работали с консолью, но уже хотите работать с Git и GitHub, то вместо поиска подходящего GUI, советую вам присмотреться к редактору Atom.
  Atom — отличный редактор кода с богатым функционалом и очень гибкой настройкой. Так как он разрабатывался командой GitHub, то вполне логичным и долгожданным стало появление в стартовой сборке версий 1.18+ одноименного пакета “GitHub”, позволяющего работать с репозиториями и системой контроля версий напрямую из редактора без установки дополнительных программ, в том числе даже GitHub Desktop.
  Работа с пакетом ведется через панели Git и GitHub. Их можно открыть через меню редактора: Packages -> GitHub -> Toggle Git Tab, или сочетанием клавиш Ctrl + Shift + 9 для Git и Ctrl + Shift + 8 для GitHub.
          </article>
          {% if lch['lchGroups'] %}
            {% for stadia, group in lch['lchGroups'] %}
              {{ include('default/ecGroupBlock.html.twig', { 'stadia': stadia, 'group': group }) }}
            {% endfor %}
          {% endif %}
        {% endif %}
      </div>
{# Le #}
      <div class="np-champ-matches">
        {% if le['lch'] is not empty %}
          {{ include('default/titleEmblemBlock.html.twig', { 'host': host, 'fileName': 'le.png', 'title': 'ЛИГА ЕВРОПЫ. ГРУППОВОЙ ЭТАП' }) }}
          <h2 class="article-title">Заголовок</h2>
          <article class="textcols">
            Если вы новичок и еще не работали с консолью, но уже хотите работать с Git и GitHub, то вместо поиска подходящего GUI, советую вам присмотреться к редактору Atom.
Atom — отличный редактор кода с богатым функционалом и очень гибкой настройкой. Так как он разрабатывался командой GitHub, то вполне логичным и долгожданным стало появление в стартовой сборке версий 1.18+ одноименного пакета “GitHub”, позволяющего работать с репозиториями и системой контроля версий напрямую из редактора без установки дополнительных программ, в том числе даже GitHub Desktop.
Работа с пакетом ведется через панели Git и GitHub. Их можно открыть через меню редактора: Packages -> GitHub -> Toggle Git Tab, или сочетанием клавиш Ctrl + Shift + 9 для Git и Ctrl + Shift + 8 для GitHub.
          </article>
          <div class="eurocup-matches">
            {% for match in le['lch'] %}
              <div>
                <span class="np-matches-team"><b>{{ match.team.name | upper }}</b> -
                <b>{{ match.team2.name | upper }}</b> -
                {{ match.score }}</span>
                (<span>{{ match.bomb | replace({'(а)': ' - в свои ворота', '(п)': ' - с пенальти'}) }}</span>).
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="np-champ-matches">
        {% if mund['lch'] is not empty %}
          {{ include('default/titleEmblemBlock.html.twig', { 'host': host, 'fileName': 'mund2022.jpg', 'title': 'ЧЕМПИОНАТ МИРА-2022. ЕВРОПЕЙСКАЯ КВАЛИФИКАЦИЯ' }) }}
          <h2 class="article-title">Заголовок</h2>
          <article class="textcols">
            Если вы новичок и еще не работали с консолью, но уже хотите работать с Git и GitHub, то вместо поиска подходящего GUI, советую вам присмотреться к редактору Atom.
Atom — отличный редактор кода с богатым функционалом и очень гибкой настройкой. Так как он разрабатывался командой GitHub, то вполне логичным и долгожданным стало появление в стартовой сборке версий 1.18+ одноименного пакета “GitHub”, позволяющего работать с репозиториями и системой контроля версий напрямую из редактора без установки дополнительных программ, в том числе даже GitHub Desktop.
Работа с пакетом ведется через панели Git и GitHub. Их можно открыть через меню редактора: Packages -> GitHub -> Toggle Git Tab, или сочетанием клавиш Ctrl + Shift + 9 для Git и Ctrl + Shift + 8 для GitHub.
          </article>
          {% if mund['lchGroups'] %}
            {% for stadia, group in mund['lchGroups'] %}
              {{ include('default/mundGroupBlock.html.twig', { 'stadia': stadia, 'group': group }) }}
            {% endfor %}
          {% endif %}
        {% endif %}
      </div>

      {% for key, country in tours %}
        {% if key != 'ФНЛ' and key != 'Россия' %}


          {% for k, arr in country %}
            {% set isMatches = false %}
            {% if k == 'tour' %}
              {{ include('default/titleEmblemBlock.html.twig', { 'fileName': topEmblem[key], 'title': key }) }}
              {{ include('default/top5MatchesBlock.html.twig', { 'arr': arr }) }}
            {% endif %}

            {% if k == 'table' and country.tour is defined %}
              {{ include('default/tableBlock.html.twig', { 'arr': arr }) }}
              {{ include('default/bombBlock.html.twig', { 'fnlBombs': bombs[key], 'tourCalend': tourCalend, 'country': key }) }}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}

      </div>
    </div>
</body>
</html>
