<div class="np-champ-matches top5">
  {% for numb, tour in arr %}
    {% if numb > 0 %}
      <h4>{{ numb }}-й тур</h4>
      {% for match in tour %}
        {% set isMatches = true %}
        <div>
          <span class="np-matches-team"><b>{{ match.team.name }}</b> -
          <b>{{ match.team2.name }}</b> -
          {{ match.goal1 }}:{{ match.goal2 }}</span>
          {% if match.bomb != '-' %}
          (<span>{{ match.bomb | replace({'(а)': ' - в свои ворота', '(п)': ' - с пенальти'}) }}</span>).
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>
