{% extends 'base.html.twig' %}

{% block title %}
    Обновить задачу
{% endblock %}

{% block description %}
{% endblock %}

{% block seasons %}
{% endblock %}

{% block zagolovok %}
{% endblock %}

{% block content %}
    <form action="{{ path('task_update', {'id': app.request.get('id')}) }}"
      method="post">
       <table>
            <tbody>
                <tr>
                    <th>{{ form_label(form.data) }}</th>
                    <td>
                        {{ form_errors(form.data) }}
                        {{ form_widget(form.data) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.title) }}</th>
                    <td>
                        {{ form_errors(form.title) }}
                        {{ form_widget(form.title) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.description) }}</th>
                    <td>
                        {{ form_errors(form.description) }}
                        {{ form_widget(form.description) }}
                    </td>
                </tr>                
            </tbody>
       </table>
        <p>
            {{ form_row(form._token) }}
            <button type="submit" class="spiski">Обновить</button>

        </p>
    </form>

{% endblock %}
