{% extends 'shiptable/index.html.twig' %}

{% block title %}
    Добавить игрока
{% endblock %}

{% block description %}
{% endblock %}

{% block seasons %}
{% endblock %}

{% block zagolovok %}
{% endblock %}

{% block content %}

    <form action="{{ path('playeradmin_updatePlayerTurnirs',
    {'team': app.request.get('team'), 'season': app.request.get('season'),
    'country': app.request.get('country')}) }}" method="post">
       <table>
            <tbody>
                <tr>
                    <th>{{ form_label(edit_form.player) }}</th>
                    <td>
                        {{ form_errors(edit_form.player) }}
                        {{ form_widget(edit_form.player) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(edit_form.game) }}</th>
                    <td>
                        {{ form_errors(edit_form.game) }}
                        {{ form_widget(edit_form.game) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(edit_form.goal) }}</th>
                    <td>
                        {{ form_errors(edit_form.goal) }}
                        {{ form_widget(edit_form.goal) }}
                    </td>
                </tr>
                {% if app.request.get('country') != 'fnl' %}
                <tr>
                    <th>{{ form_label(edit_form.cup) }}</th>
                    <td>
                        {{ form_errors(edit_form.cup) }}
                        {{ form_widget(edit_form.cup) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(edit_form.supercup) }}</th>
                    <td>
                        {{ form_errors(edit_form.supercup) }}
                        {{ form_widget(edit_form.supercup) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(edit_form.eurocup) }}</th>
                    <td>
                        {{ form_errors(edit_form.eurocup) }}
                        {{ form_widget(edit_form.eurocup) }}
                    </td>
                </tr>
                {% endif %}
            </tbody>
       </table>
        <p>
            {{ form_row(edit_form._token) }}
            <button type="submit" class="spiski">Добавить</button>

        </p>
    </form>
<a href="{{ path('championships_show', {'id': app.request.get('team'),
'country': app.request.get('country'), 'season': app.request.get('season')}) }}">Назад</a>

{% endblock %}
