{% extends 'shiptable/index.html.twig' %}

{% block title %}
    Добавить игрока
{% endblock %}

{% block description %}
{% endblock %}

{% block seasons %}
{% endblock %}

{% block zagolovok %}
{% endblock %}

{% block content %}

    <form action="{{ path('player_createFnl', {'team': app.request.get('team'),
      'season': app.request.get('season')}) }}" method="post">
       <table>
            <tbody>
                <tr>
                    <th>{{ form_label(form.player) }}</th>
                    <td>
                        <input type="text" id="rus_player" autocomplete="off" />
                        <input type="hidden" id="rus_player_hidden" name="fnl[player]" />
                        <div class="player_search_result">
                            <div class="player_search_result_items"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.game) }}</th>
                    <td>
                        {{ form_errors(form.game) }}
                        {{ form_widget(form.game) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.goal) }}</th>
                    <td>
                        {{ form_errors(form.goal) }}
                        {{ form_widget(form.goal) }}
                    </td>
                </tr>

            </tbody>
       </table>
        <p>
            {{ form_row(form._token) }}
            <button type="submit" class="spiski">Добавить</button>

        </p>
    </form>
<a href="{{ path('championships_show', {'id': app.request.get('team'),
'country': 'fnl', 'season': app.request.get('season')}) }}">Назад</a>

{% endblock %}
