{% extends 'shiptable/index.html.twig' %}

{% block title %}
    Добавить игрока
{% endblock %}

{% block description %}
{% endblock %}

{% block seasons %}
{% endblock %}

{% block zagolovok %}
{% endblock %}

{% block content %}

    <form action="{{ path('player_createSb', {'season': app.request.get('season')}) }}"
          method="post">
       <table>
            <tbody>
                <tr>
                    <th>{{ form_label(form.player) }}</th>
                    <td>
                        {{ form_errors(form.player) }}
                        {{ form_widget(form.player) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.goal) }}</th>
                    <td>
                        {{ form_errors(form.goal) }}
                        {{ form_widget(form.goal) }}
                    </td>
                </tr>

            </tbody>
       </table>
        <p>
            {{ form_row(form._token) }}
            <button type="submit">Добавить</button>
        </p>
    </form>


{% endblock %}
