{% extends 'base.html.twig' %}

{% block title %}Новости{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12">
        {{ include('news/list.html.twig', { 'entities': entities }) }}

        {% if lastPage > 1 %}
            {% if app.request.get('page') > 1 %}
            <a href="{{ path('news', {'page': 1})}}">
            <img src="{{ asset('/images/double_arrows2.png') }}"
                 alt="Первая" title="Первая" class="arrow" /></a>

            <a href="{{ path('news', {'page': previousPage})}}">
            <img src="{{ asset('/images/strelkaLeft.png') }}"
                 alt="Предудыщая" title="Предудыщая" class="arrow" /></a>
            {% endif %}

            {% if lastPage != app.request.get('page') %}
            <a href="{{ path('news', {'page': nextPage})}}">
            <img src="{{ asset('/images/strelka.png') }}"
                 alt="Следующая" title="Следующая" class="arrow"/></a>

            <a href="{{ path('news', {'page': lastPage})}}">
            <img src="{{ asset('/images/double_arrows1.png') }}"
                 alt="Последняя" title="Последняя" class="arrow" /></a>
            {% endif %}
         {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
