<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        {% block title %}
            Еженедельник "Классический Футбол"
        {% endblock %}
    </title>
    {% block stylesheets %}
        <link href="{{ asset('css/newspaper.css') }}" rel="stylesheet" />
    {% endblock %}
</head>
<body>
  <h1>Классический ФУТБОЛ</h1>
  <span>№ <strong>1</strong></span>
  <span>{{ today | date('d.m.Y') }}</span>
  <div>
  <h3>Российская Премьер-Лига</h3>
    {% for tour in rfplTours %}
    <h4>{{ tour }}-й тур</h4>
      {% for match in rfplMatch %}
        {% if match.tour == tour %}
          <span>{{ match.team.name }}</span> - <span>{{ match.team2.name }}</span> -
          {{ match.goal1 }}:{{ match.goal2 }} (<span>{{ match.bomb }}</span>)
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% for key, country in tours %}
      <h3>{{ key }}</h3>
      <div class="np-champ-matches">
      {% for k, tour in country %}
        <h4>{{ k }}-й тур</h4>
        {% for match in tour %}
          <div>
            <span class="np-matches-team">&laquo;{{ match.team.name }}&raquo; -
            &laquo;{{ match.team2.name }}&raquo; -
            {{ match.goal1 }}:{{ match.goal2 }}</span> (<span>{{ match.bomb }}</span>).
          </div>
        {% endfor %}
      {% endfor %}
    </div>
    {% endfor %}

  </div>
</body>
</html>
