<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>
            {% block title %}
                Футбольная статистика, чемпионаты, кубки, еврокубки
            {% endblock %}
        </title>
            {% block description %}
                <meta name="description" content="Футбольная статистика, лучшие бомбардиры пяти ведущих
                    чемпионатов, дни рождения футболистов, ближайшие и прошедшие матчи">
            {% endblock %}
        <meta name="yandex-verification" content="7321bd4fcece7b51" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% block stylesheets %}
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/media.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/chosen.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('images/i4.jpg') }}" />
        {% if app.request.get('_route') == 'player' %}
          <link rel="canonical" href="https://sokolstat.ru{{ path('player') }}" />
        {% elseif app.request.get('_route') == 'championships' %}
          <link rel="canonical" href="https://sokolstat.ru{{ path('championships', {
            'country': app.request.get('country'),
            'season': app.request.get('season')
          }) }}" />
        {% endif %}
    </head>

    <body>
      <div class="wrapper">
        <div class="panel-box">
          <a href="{{ path('steam_fbstat_homepage') }}" class="logo-a">
            <img src="{{ asset('images/i.jpg') }}"
                alt="SokolTeam" class="logo" />
          </a>
          <a href="{{ path('steam_fbstat_homepage') }}" class="logo-text-a">
                <img src="{{ asset('images/rrr.jpg') }}"
                    alt="SokolTeam" class="logo-text" />
          </a>
          <a class="menu-trigger" href="javascript:void(0);">
              <span class="menu-trigger-icon"></span>
          </a>
          <div class="panel-drop">
              <ul>
                  <li><a href="{{ path('championships', {'country': 'russia', 'season': season}) }}">НАЦИОНАЛЬНЫЕ ТУРНИРЫ</a>
                      <ul>
                      <li> <a href="{{ path('championships', {'country': 'russia', 'season': season}) }}">РОССИЯ</a></li>
                      <li> <a href="{{ path('championships', {'country': 'england', 'season': season}) }}">АНГЛИЯ</a></li>
                      <li> <a href="{{ path('championships', {'country': 'spain', 'season': season}) }}">ИСПАНИЯ</a></li>
                      <li> <a href="{{ path('championships', {'country': 'italy', 'season': season}) }}">ИТАЛИЯ</a></li>
                      <li> <a href="{{ path('championships', {'country': 'germany', 'season': season}) }}">ГЕРМАНИЯ</a></li>
                      <li> <a href="{{ path('championships', {'country': 'france', 'season': season}) }}">ФРАНЦИЯ</a></li>
                      </ul>
                  </li>
                  <li><a href="{{ path('eurocup', {'turnir': 'leagueChampions', 'season': season}) }}">ЕВРОКУБКИ</a>
                      <ul>
                      <li><a href="{{ path('eurocup', {'turnir': 'leagueChampions', 'season': season}) }}">ЛИГА ЧЕМПИОНОВ</a></li>
                      <li><a href="{{ path('eurocup', {'turnir': 'leagueEuropa', 'season': season}) }}">ЛИГА ЕВРОПЫ</a></li>
                      <li><a href="{{ path('eurocup', {'turnir': 'conference-league', 'season': season}) }}">ЛИГА КОНФЕРЕНЦИЙ</a></li>
                      <li><a href="{{ path('supercup', {'country': 'uefa'}) }}">СУПЕРКУБОК ЕВРОПЫ</a></li>
                      <li><a href="{{ path('eurocup', {'turnir': 'worldCupClub', 'season': '2020', 'stadia': 'final'}) }}">КЛУБНЫЙ ЧЕМПИОНАТ МИРА</a></li>
                      </ul>
                  </li>
                  <li><a href="{{ path('sbornie', {'turnir': 'worldcup', 'year': '2022'}) }}">СБОРНЫЕ</a>
                  <ul>
                   <li><a href="{{ path('sbornie', {'turnir': 'worldcup', 'year': '2022'}) }}">ЧЕМПИОНАТЫ МИРА</a></li>
                   <li><a href="{{ path('sbornie', {'turnir': 'euro', 'year': '2020'}) }}">ЧЕМПИОНАТЫ ЕВРОПЫ</a></li>
                   <li><a href="{{ path('sbornie', {'turnir': 'nationsleague', 'year': '2022'}) }}">ЛИГА НАЦИЙ</a></li>
                   <li><a href="{{ path('sbornie', {'turnir': 'confederationscup', 'year': '2017'}) }}">КУБОК КОНФЕДЕРАЦИЙ</a></li>
                   <li><a href="{{ path('sbornie', {'turnir': 'african', 'year': '2022'}) }}">КУБОК АФРИКИ</a></li>
                   <li><a href="{{ path('sbornieRus', {'season': '2021'}) }}">СБОРНАЯ РОССИИ</a></li>
                  </ul></li>
                  <li><a href="{{ path('player') }}">ФУТБОЛИСТЫ</a></li>
                  <li><a href="/newspapers/2023/{{ newspaper_number }}.html" target="_blank">ГАЗЕТА</a></li>
                  <li class="header-login">
                      {% if is_granted("ROLE_USER") %}
                          <a href="" class="registerLink">{{ app.user.username }}</a> |
                          <a href="{{ path('logout') }}"  class="registerLink">Выйти</a>
                      {% else %}
                          <a href="{{ path('app_register') }}" class="registerLink">Регистрация</a> |
                          <a href="{{ path('app_login') }}"  class="registerLink">Войти</a>
                      {% endif %}
                      {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('task') }}"  class="registerLink">Задачи</a>
                        <a href="?clear_cache=Y"  class="registerLink">Очистить кэш</a>
                      {% endif %}
                  </li>
              </ul>
          </div>
        </div>

        <header>
          <div class="row">
            <div class="col-sm-1 col-md-1 col-lg-1">
              <div class="logo">
                  <a href="{{ path('steam_fbstat_homepage') }}">
                      <img src="{{ asset('images/i.jpg') }}"
                           alt="SokolTeam" />
                  </a>
              </div>
            </div>
            <div class="col-sm-11 col-md-7 col-lg-7 menu_top">
              <nav class="navbar main-menu">
                <ul class="nav navbar-nav">
                  <li class="dropdown nav-item">
                    <a href="{{ path('championships', {'country': 'russia', 'season': season}) }}">НАЦИОНАЛЬНЫЕ ТУРНИРЫ</a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('championships', {'country': 'russia', 'season': season}) }}">РОССИЯ</a></li>
                      <li><a href="{{ path('championships', {'country': 'england', 'season': season}) }}">АНГЛИЯ</a></li>
                      <li><a href="{{ path('championships', {'country': 'spain', 'season': season}) }}">ИСПАНИЯ</a></li>
                      <li><a href="{{ path('championships', {'country': 'italy', 'season': season}) }}">ИТАЛИЯ</a></li>
                      <li><a href="{{ path('championships', {'country': 'germany', 'season': season}) }}">ГЕРМАНИЯ</a></li>
                      <li><a href="{{ path('championships', {'country': 'france', 'season': season}) }}">ФРАНЦИЯ</a></li>
                    </ul>
                  </li>
                  <li class="dropdown nav-item">
                    <a class="dropdown-toggle" href="{{ path('eurocup', {'turnir': 'leagueChampions', 'season': season}) }}">ЕВРОКУБКИ</a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('eurocup', {'turnir': 'leagueChampions', 'season': season}) }}">ЛИГА ЧЕМПИОНОВ</a></li>
                      <li><a href="{{ path('eurocup', {'turnir': 'leagueEuropa', 'season': season}) }}">ЛИГА ЕВРОПЫ</a></li>
                      <li><a href="{{ path('eurocup', {'turnir': 'conference-league', 'season': season}) }}">ЛИГА КОНФЕРЕНЦИЙ</a></li>
                      <li><a href="{{ path('supercup', {'country': 'uefa'}) }}">СУПЕРКУБОК ЕВРОПЫ</a></li>
                      <li><a href="{{ path('eurocup', {'turnir': 'worldCupClub', 'season': '2017', 'stadia': 'final'}) }}">КЛУБНЫЙ ЧЕМПИОНАТ МИРА</a></li>
                    </ul>
                  </li>
                  <li class="dropdown nav-item">
                    <a href="{{ path('sbornie', {'turnir': 'worldcup', 'year': '2022'}) }}">СБОРНЫЕ</a>
                    <ul class="dropdown-menu">
                     <li><a href="{{ path('sbornie', {'turnir': 'worldcup', 'year': '2022'}) }}">ЧЕМПИОНАТЫ МИРА</a></li>
                     <li><a href="{{ path('sbornie', {'turnir': 'euro', 'year': '2020'}) }}">ЧЕМПИОНАТЫ ЕВРОПЫ</a></li>
                     <li><a href="{{ path('sbornie', {'turnir': 'nationsleague', 'year': '2022'}) }}">ЛИГА НАЦИЙ</a></li>
                     <li><a href="{{ path('sbornie', {'turnir': 'confederationscup', 'year': '2017'}) }}">КУБОК КОНФЕДЕРАЦИЙ</a></li>
                     <li><a href="{{ path('sbornie', {'turnir': 'african', 'year': '2022'}) }}">КУБОК АФРИКИ</a></li>
                     <li><a href="{{ path('sbornieRus', {'season': '2021'}) }}">СБОРНАЯ РОССИИ</a></li>
                    </ul>
                  </li>
                  <li class="dropdown nav-item">
                    <a href="{{ path('player') }}">ФУТБОЛИСТЫ</a>
                  </li>
                  <li class="dropdown nav-item"><a href="/newspapers/2023/{{ newspaper_number }}.html" target="_blank">ГАЗЕТА</a></li>
                </ul>
              </nav>
            </div>
            <div class="col-md-2 col-lg-2 search-block">
              <div class="search-top">
                <div class="search">
                  <form action="{{ path('player_search') }}" method="get">
                    <input type="text" name="q" size="6"
                      value="{{ app.request.get('query') }}"
                      placeholder="Поиск"
                      class="search_keywords" autocomplete="off"/>
                    <input type="submit" value="OK" class="search-btn" />
                  </form>
                </div>
                <div class="search_result">
                  <div class="search_result_items"></div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-lg-2 login-block">
              <div class="menu-login">
                  {% if is_granted("ROLE_USER") %}
                    <button class="btn btn-success btn-xs btn-signed">
                        <i class="glyphicon glyphicon-user"></i> {{ app.user.username }}
                    </button>
                    <button class="btn btn-success btn-xs btn-signed">
                      <i class="glyphicon glyphicon-log-out"></i>
                      <a href="{{ path('logout') }}"  class="registerLink">Выйти</a>
                    </button>
                  {% else %}
                      <button class="btn btn-success btn-xs btn-sign">
                        <a href="{{ path('app_register') }}" class="registerLink">Регистрация</a>
                      </button>
                      <button class="btn btn-success btn-xs btn-sign">
                        <a href="{{ path('app_login') }}"  class="registerLink">
                          <i class="glyphicon glyphicon-log-in"></i>Войти</a>
                      </button>
                  {% endif %}
              </div>
            </div>
          </div>
        </header>

          <div class="login-bar">
              <div class="search-bar">
                  <div class="search">
                      <form action="{{ path('player_search') }}" method="get">
                          <input type="text" name="q" size="6"
                                 value="{{ app.request.get('query') }}"
                                 placeholder="Поиск"
                                 class="search_keywords" autocomplete="off"/>
                          <input type="submit" value="OK" class="search-btn" />
                      </form>
                  </div>
                  <div class="search_result">
                      <div class="search_result_items">
                      </div>
                  </div>
              </div>
              <div class="login-bar-block">
                  {% if is_granted("ROLE_USER") %}
                      <button class="btn btn-success btn-xs btn-signed">
                          <i class="glyphicon glyphicon-user"></i> <span>{{ app.user.username }}</span>
                      </button>
                      <button class="btn btn-success btn-xs btn-signed">
                          <a href="{{ path('logout') }}"  class="registerLink">
                              <i class="glyphicon glyphicon-log-out"></i><span>Выйти</span>
                          </a>
                      </button>
                  {% else %}
                      <button class="btn btn-success btn-xs btn-sign">
                          <a href="{{ path('app_register') }}" class="registerLink">Регистрация</a>
                      </button>
                      <button class="btn btn-success btn-xs btn-sign">
                          <a href="{{ path('app_login') }}"  class="registerLink">
                              <i class="glyphicon glyphicon-log-in"></i><span>Войти</span>
                          </a>
                      </button>
                  {% endif %}
              </div>
          </div>

            {% block sidebar %}
            {% endblock %}

            {% block navbar %}
            {% endblock %}

          <div class="content container-fluid">
            {% block teams %}
            {% endblock %}

            {% block seasons %}
            {% endblock %}

            {% block content %}
            {% endblock %}
          </div>
        <footer>
          <div class="container">
            <div class="row footer">
              <div class="col-sm-4">© SokolTeam 2012-{{ "now" | date("Y") }}</div>
              <div class="col-sm-4">
                  Вопросы и предложения присылайте
                    <a href="mailto:info@sokolstat.ru">сюда</a>
              </div>
              <div class="col-sm-4">
                <a class="soglasie-link" href="{{ path('soglasie') }}">Пользовательское соглашение</a>
              </div>
            </div>
          </div>
        </footer>
      </div>

      <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="loginModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      {% block javascripts %}
          <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
          <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
          <script src="{{ asset('js/chosen.jquery.min.js') }}"></script>
          <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
          <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
          <script src="{{ asset('js/menuShow.js') }}"></script>
          <script src="{{ asset('js/search.js') }}"></script>
      {% endblock %}
   </body>
</html>
