<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>
            {% block title %}
                Футбольная статистика, чемпионаты, кубки, еврокубки
            {% endblock %}
        </title>
            {% block description %}
                <meta name="description" content="Футбольная статистика, лучшие бомбардиры пяти ведущих
                    чемпионатов, дни рождения футболистов, ближайшие и прошедшие матчи">
            {% endblock %}
        <meta name="yandex-verification" content="7321bd4fcece7b51" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

          <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% block stylesheets %}
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link href="{{ path_public }}{{ asset('css/main.css') }}" rel="stylesheet" />
            <link href="{{ path_public }}{{ asset('css/media.css') }}" rel="stylesheet" />
            <link href="{{ path_public }}{{ asset('css/chosen.css') }}" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            <script src="{{ path_public }}{{ asset('js/jquery-2.1.4.min.js') }}"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="{{ path_public }}{{ asset('js/menuShow.js') }}"></script>
            <script src="{{ path_public }}{{ asset('js/chosen.jquery.min.js') }}"></script>
            <script src="{{ path_public }}{{ asset('js/search.js') }}"></script>
            <script src="{{ path_public }}{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path_public }}{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('images/i4.jpg') }}" />
    </head>

    <body>
      <div class="wrapper">
      <div class="panel-box">
        <a href="{{ path('steam_fbstat_homepage') }}" class="logo-a">
          <img src="{{ path_public }}{{ asset('images/i.jpg') }}"
              alt="SokolTeam" class="logo" />
        </a>
        <a href="{{ path('steam_fbstat_homepage') }}" class="logo-text-a">
                <img src="{{ path_public }}{{ asset('images/rrr.jpg') }}"
                    alt="SokolTeam" class="logo-text" />
            </a>
            <a class="menu-trigger" href="javascript:void(0);">
                <span class="menu-trigger-icon"></span>
            </a>
            <div class="panel-drop">
                <ul>
                    <li><a href="{{ path('championships', {'country': 'russia', 'season': season}) }}">НАЦИОНАЛЬНЫЕ ТУРНИРЫ</a>
                        <ul>
                        <li> <a href="{{ path('championships', {'country': 'russia', 'season': season}) }}">РОССИЯ</a></li>
                        <li> <a href="{{ path('championships', {'country': 'england', 'season': season}) }}">АНГЛИЯ</a></li>
                        <li> <a href="{{ path('championships', {'country': 'spain', 'season': season}) }}">ИСПАНИЯ</a></li>
                        <li> <a href="{{ path('championships', {'country': 'italy', 'season': season}) }}">ИТАЛИЯ</a></li>
                        <li> <a href="{{ path('championships', {'country': 'germany', 'season': season}) }}">ГЕРМАНИЯ</a></li>
                        <li> <a href="{{ path('championships', {'country': 'france', 'season': season}) }}">ФРАНЦИЯ</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('eurocup', {'turnir': 'leagueChampions', 'season': season}) }}">ЕВРОКУБКИ</a>
                        <ul>
                        <li><a href="{{ path('eurocup', {'turnir': 'leagueChampions', 'season': season}) }}">ЛИГА ЧЕМПИОНОВ</a></li>
                        <li><a href="{{ path('eurocup', {'turnir': 'leagueEuropa', 'season': season}) }}">ЛИГА ЕВРОПЫ</a></li>
                        <li><a href="{{ path('supercup', {'country': 'uefa'}) }}">СУПЕРКУБОК ЕВРОПЫ</a></li>
                        <li><a href="{{ path('eurocup', {'turnir': 'worldCupClub', 'season': '2019', 'stadia': 'final'}) }}">КЛУБНЫЙ ЧЕМПИОНАТ МИРА</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('sbornie', {'turnir': 'worldcup', 'year': '2018'}) }}">СБОРНЫЕ</a>
                    <ul>
                     <li><a href="{{ path('sbornie', {'turnir': 'worldcup', 'year': '2018'}) }}">ЧЕМПИОНАТЫ МИРА</a></li>
                     <li><a href="{{ path('sbornie', {'turnir': 'euro', 'year': '2016'}) }}">ЧЕМПИОНАТЫ ЕВРОПЫ</a></li>
                     <li><a href="{{ path('sbornie', {'turnir': 'confederationscup', 'year': '2017'}) }}">КУБОК КОНФЕДЕРАЦИЙ</a></li>
                     <li><a href="{{ path('sbornieRus', {'season': '2019'}) }}">СБОРНАЯ РОССИИ</a></li>
                    </ul></li>
                    <li><a href="{{ path('player') }}">ФУТБОЛИСТЫ</a>
                    </li>
                    <li class="header-login">
                        {% if is_granted("ROLE_USER") %}
                            <a href="" class="registerLink">{{ app.user.username }}</a> |
                            <a href="{{ path('logout') }}"  class="registerLink">Выйти</a>
                        {% else %}
                            <a href="{{ path('app_register') }}" class="registerLink">Регистрация</a> |
                            <a href="{{ path('app_login') }}"  class="registerLink">Войти</a>
                        {% endif %}
                        {% if is_granted("ROLE_ADMIN") %}
                          <a href="{{ path('task') }}"  class="registerLink">Задачи</a>
                          <a href="?clear_cache=Y"  class="registerLink">Очистить кэш</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
      </div>


          <header>
              <div class="logo">
                  <a href="{{ path('steam_fbstat_homepage') }}">
                      <img src="{{ path_public }}{{ asset('images/i.jpg') }}"
                           alt="SokolTeam" />
                  </a>
              </div>
              <div class="top-menu">
                {% block menu %}

                <ul class="menuPrimary">
                    <li class="dropdown-top"><a class="dropdown-top" href="{{ path('championships', {'country': 'russia', 'season': season}) }}">НАЦИОНАЛЬНЫЕ ТУРНИРЫ</a>
                    <div class="dropdown-inside">
                     <a href="{{ path('championships', {'country': 'russia', 'season': season}) }}">РОССИЯ</a>
                     <a href="{{ path('championships', {'country': 'england', 'season': season}) }}">АНГЛИЯ</a>
                     <a href="{{ path('championships', {'country': 'spain', 'season': season}) }}">ИСПАНИЯ</a>
                     <a href="{{ path('championships', {'country': 'italy', 'season': season}) }}">ИТАЛИЯ</a>
                     <a href="{{ path('championships', {'country': 'germany', 'season': season}) }}">ГЕРМАНИЯ</a>
                     <a href="{{ path('championships', {'country': 'france', 'season': season}) }}">ФРАНЦИЯ</a>
                    </div></li>
                    <li class="dropdown-top"><a class="dropdown-top" href="{{ path('eurocup', {'turnir': 'leagueChampions', 'season': season}) }}">ЕВРОКУБКИ</a>
                        <div class="dropdown-inside">
                        <a href="{{ path('eurocup', {'turnir': 'leagueChampions', 'season': season}) }}">ЛИГА ЧЕМПИОНОВ</a>
                        <a href="{{ path('eurocup', {'turnir': 'leagueEuropa', 'season': season}) }}">ЛИГА ЕВРОПЫ</a>
                        <a href="{{ path('supercup', {'country': 'uefa'}) }}">СУПЕРКУБОК ЕВРОПЫ</a>
                        <a href="{{ path('eurocup', {'turnir': 'worldCupClub', 'season': '2017', 'stadia': 'final'}) }}">КЛУБНЫЙ ЧЕМПИОНАТ МИРА</a>
                        </div></li>
                    <li class="dropdown-top"><a class="dropdown-top" href="{{ path('sbornie', {'turnir': 'worldcup', 'year': '2014'}) }}">СБОРНЫЕ</a>
                    <div class="dropdown-inside">
                     <a href="{{ path('sbornie', {'turnir': 'worldcup', 'year': '2018'}) }}">ЧЕМПИОНАТЫ МИРА</a>
                     <a href="{{ path('sbornie', {'turnir': 'euro', 'year': '2016'}) }}">ЧЕМПИОНАТЫ ЕВРОПЫ</a>
                     <a href="{{ path('sbornie', {'turnir': 'confederationscup', 'year': '2017'}) }}">КУБОК КОНФЕДЕРАЦИЙ</a>
                     <a href="{{ path('sbornieRus', {'season': '2019'}) }}">СБОРНАЯ РОССИИ</a>
                    </div></li>
                    <li class="dropdown-top"><a class="dropdown-top" href="{{ path('player') }}">ФУТБОЛИСТЫ</a>
                    </li>
                  </ul>
                  <div class="search-top">
                      <div class="search">
                          <form action="{{ path('player_search') }}" method="get">
                              <input type="text" name="q" size="6"
                                value="{{ app.request.get('query') }}"
                                placeholder="Поиск"
                                class="search_keywords" autocomplete="off"/>
                              <input type="submit" value="OK" class="search-btn" />
                          </form>
                      </div>
                      <div class="search_result">
                          <div class="search_result_items">
                          </div>
                      </div>
                  </div>
                  <div class=" menu-login">
                      {% if is_granted("ROLE_USER") %}
                          <a href="" class="registerLink">{{ app.user.username }}</a>
                          <a href="{{ path('logout') }}"  class="registerLink">Выйти</a>
                      {% else %}
                          <a href="{{ path('app_register') }}" class="registerLink">Регистрация</a>
                          <a href="{{ path('app_login') }}"  class="registerLink">Войти</a>
                      {% endif %}
                      {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('task') }}"  class="registerLink">Задачи</a>
                        <a href="{{ path('clear_cache') }}"  class="registerLink">Очистить кэш</a>
                      {% endif %}
                  </div>

                {% endblock %}
                </div>
          </header>
          <div class="login-bar">
            <div class="search-bar">
                <div class="search">
                    <form action="{{ path('player_search') }}" method="get">
                        <input type="text" name="q" size="6"
                          value="{{ app.request.get('query') }}"
                          placeholder="Поиск"
                          class="search_keywords" autocomplete="off"/>
                        <input type="submit" value="OK" class="search-btn" />
                    </form>
                </div>
                <div class="search_result">
                    <div class="search_result_items">
                    </div>
                </div>
            </div>
            <div class="login-bar-block">
              {% if is_granted("ROLE_USER") %}
                  <a href="" class="registerLink">{{ app.user.username }}</a>
                  <a href="{{ path('logout') }}"  class="registerLink">Выйти</a>
              {% else %}
                  <a href="{{ path('app_register') }}" class="registerLink">Регистрация</a>
                  <a href="{{ path('app_login') }}"  class="registerLink">Войти</a>
              {% endif %}
            </div>
          </div>
          <div class="content">
            <div class="primaryFone">

              {% block sidebar %}
              {% endblock %}

              {% block navbar %}
              {% endblock %}

              <div class="container">
                {% block teams %}
                {% endblock %}

                {% block content %}
                {% endblock %}
              </div>
            </div>
        </div>
            <footer>
              <table class="footer">
              <tr>
              <ul class="bottom-menu">
                <li>
                  <a href="{{ path('championships', {'country': 'russia', 'season': season}) }}">
                      Национальные турниры
                  </a>
                  <ul>
                  <li> <a href="{{ path('championships', {'country': 'russia', 'season': season}) }}">Россия</a></li>
                  <li> <a href="{{ path('championships', {'country': 'england', 'season': season}) }}">Англия</a></li>
                  <li> <a href="{{ path('championships', {'country': 'spain', 'season': season}) }}">Испания</a></li>
                  <li> <a href="{{ path('championships', {'country': 'italy', 'season': season}) }}">Италия</a></li>
                  <li> <a href="{{ path('championships', {'country': 'germany', 'season': season}) }}">Германия</a></li>
                  <li> <a href="{{ path('championships', {'country': 'france', 'season': season}) }}">Франция</a></li>
                  </ul>
                </li>
                <li>
                  <a href="{{ path('eurocup', {'turnir': 'leagueChampions', 'season': season}) }}">Еврокубки</a>
                  <ul>
                    <li><a href="{{ path('eurocup', {'turnir': 'leagueChampions', 'season': season}) }}">Лига Чемпионов</a></li>
                    <li><a href="{{ path('eurocup', {'turnir': 'leagueEuropa', 'season': season}) }}">Лига Европы</a></li>
                    <li><a href="{{ path('supercup', {'country': 'uefa'}) }}">Суперкубок Европы</a></li>
                    <li><a href="{{ path('eurocup', {'turnir': 'worldCupClub', 'season': '2018', 'stadia': 'final'}) }}">Клубный Чемпионат Мира</a></li>
                  </ul>
                </li>
                <li>
                  <a href="{{ path('sbornie', {'turnir': 'worldcup', 'year': '2018'}) }}">Сборные</a>
                  <ul>
                    <li><a href="{{ path('sbornie', {'turnir': 'worldcup', 'year': '2018'}) }}">Чемпионаты Мира</a></li>
                    <li><a href="{{ path('sbornie', {'turnir': 'euro', 'year': '2016'}) }}">Чемпионаты Европы</a></li>
                    <li><a href="{{ path('sbornie', {'turnir': 'confederationscup', 'year': '2017'}) }}">Кубок Конфедераций</a></li>
                    <li><a href="{{ path('sbornieRus', {'season': 'now' | date("Y")}) }}">Сборная России</a></li>
                 </ul>
                </li>
                <li>
                  <a href="{{ path('player') }}">Футболисты</a>
                </li>
              </ul>
              </tr>
                <tr class="footer-bottom">
                  <td>© SokolTeam 2012-{{ "now" | date("Y") }}</td>
                  <td>
                    <div class="footer-question">
                      Вопросы и предложения присылайте
                        <a href="mailto:info@sokolstat.ru">сюда</a>
                    </div>
                  </td>
                  <td>
                    <a class="soglasie-link" href="{{ path('soglasie') }}">Пользовательское соглашение</a>
                  </td>
                </tr>
              </table>
            </footer>
      </div>
   </body>
</html>
