{% extends 'shiptable/index.html.twig' %}

{% block title %}
   Кубок России {{ app.request.get('season') }}
{% endblock %}

{% block description %}
    <meta name="description" content="кубок России {{ app.request.get('season') }},
          бомбардиры, матчи">
{% endblock %}

{% block seasons %}
    {% for season in seasons %}
        {% if app.request.get('season') == season.name %}
            <b>{{ season.name }}</b>
        {% else %}
            <a href="{{ path('cup', {'season': season.name}) }}" class="spiski">{{ season.name }}</a>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}
  <h1>Кубок России {{ app.request.get('season') }}</h1>

{% if is_granted("ROLE_ADMIN") %}
<p><a href="{{ path('cup_newMatch', {'season': app.request.get('season')}) }}">
Добавить матч</a></p>
{% endif %}
    <table>
        <tr>
            <td>
    <table>
      {% for stad in stadies %}
          <tr class="shipTableTitle">
                <td colspan="4" class="tableGoal">{{ stad.name }}</td>
          </tr>
        {% for entity in stad.stadiamatches %}
        <tr class="odd">
            <td class="">
                <div class="">
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('cup_new', {'id': entity.id}) }}">
                          {{ entity.data | date('d.m H:i') }}</a>
                    {% else %}
                          {% if entity.status == 1 %}
                            {{ entity.data | date('d.m H:i') }}
                          {% else %}
                              {{ entity.data | date('d.m') }}
                          {% endif %}
                    {% endif %}
                </div>
            </td>
            <td class="scMatch">
                <div>
                  {% if entity.team.image2 %}
                  <img src="{{ asset('images/clubs/') }}{{ entity.team.image2 }}"
                    alt="{{ entity.team.name }}" title="{{ entity.team.name }}" />
                  {% endif %}
                  <a href="{{ path('cup_show', {'season': app.request.get('season'),
                  'id': entity.team.translit}) }}" class="spiski">{{ entity.team.name }}</a>
                   -
                   <a href="{{ path('cup_show', {'season': app.request.get('season'),
                   'id': entity.team2.translit}) }}" class="spiski">{{ entity.team2.name }}</a>
                   {% if entity.team2.image2 %}
                   <img src="{{ asset('images/clubs/') }}{{ entity.team2.image2 }}"
                     alt="{{ entity.team2.name }}" title="{{ entity.team2.name }}" />
                   {% endif %}
                </div>
            </td>
            <td class="scScore">
              {{ entity.score }}
            </td>
            <td class="scBomb">
                {{ entity.bomb }}
            </td>
        </tr>
        <tr>
            <td colspan="4" class="even">
                <p><em><b>{{ entity.team.name }}</b></em>: {{ entity.game }}</p>
                <p><em><b>{{ entity.team2.name }}</b></em>: {{ entity.game2 }}</p>
            </td>
        </tr>
        {% endfor %}
      {% endfor %}
    </table>
            </td>

        </tr>
    </table>
{% endblock %}
