{% extends 'base.html.twig' %}

{% block title %}
   НХЛ в сезоне {{ app.request.get('season') }}
{% endblock %}

{% block description %}
    <meta name="description" content="НХЛ в сезоне {{ app.request.get('season') }},
          бомбардиры, турнирная таблица, матчи">
{% endblock %}

{% block seasons %}
    {% for season in seasons %}
        {% if app.request.get('season') == season.season.name %}
            <b>{{ season.season.name }}</b>
        {% else %}
            <a href="{{ path('nhl_season', {
              'season': season.season.name}) }}" class="spiski">
              {{ season.season.name }}
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
         <div class="collapse navbar-collapse" id="navbar-collapse-1">
             <ul class="nav navbar-nav" id="subMenu">
               <li class="{% if app.request.attributes.get('_route') == 'nhl_season' %}
                     active
                   {% endif %}
                   ">
                 <a href="{{ path('nhl_season', {
                   'season': '1992-93'}) }}">МАТЧИ
                 <span class="sr-only">(current)</span></a>
               </li>
               <li class="{% if app.request.attributes.get('_route') == 'nhl_standing' %}
                     active
                   {% endif %}
                 "><a href="{{ path('nhl_standing', {'season': '1992-93'}) }}">
                   ТАБЛИЦА
                 </a>
               </li>
               <li class="{% if app.request.attributes.get('_route') == 'nhl_leaders' %}
                     active
                   {% endif %}
               "><a href="{{ path('nhl_leaders', {'season': '1992-93'}) }}">
                 ЛИДЕРЫ
               </a></li>
             </ul>
         </div>
    </div>
</nav>

{% endblock %}

{% block content %}
  <div><h1>НХЛ {{ app.request.get('season') }}</h1></div>
  {% if is_granted("ROLE_ADMIN") %}
    <p><a href="{{ path('nhl_newMatch', {'season': app.request.get('season')})
      }}">Добавить матч</a></p>
  {% endif %}
  <img src="{{ asset('images/calend.jpg') }}" class="datepicker-icon">
  <!--input type="text" id="datepicker"-->
  <div class="nhl-matches champs">
    <div class="nhl-dates">
      {% if prevDate %}
        <span data-date="{{ prevDate | date('Y-m-d') }}">{{ prevDate | date('j F') }}</span>
      {% endif %}
      <span class="active">{{ curDate | date('j F') }}</span>
      {% if nextDate %}
        <span data-date="{{ nextDate | date('Y-m-d') }}">{{ nextDate | date('j F') }}</span>
      {% endif %}
    </div>
    <table class="nhl-matches-table">
        <tbody>
        {% for key, data in dates %}
          {% for match in data %}
            <tr class="champ-match-title">
                {% if is_granted("ROLE_ADMIN") %}
                      <td colspan="6">
                        <a href="{{ path('nhl_newrus', {'id': match.id}) }}">
                          {{ match.data | date('d.m H:i') }}
                        </a>
                      </td>
                {% else %}
                      <td colspan="6">
                          {% if match.status == 1 %}
                            {{ match.data | date('d.m H:i') }}
                          {% else %}
                              {{ match.data | date('d.m') }}
                          {% endif %}
                      </td>
                {% endif %}
            </tr>
            <tr>
              <td class="champTourTeam nhl-match-team">
              <a href="{{ path('nhl_show', {
                'season': app.request.get('season'),
                'id': match.team.translit}) }}">{{ match.team.name }}</a>
              </td>
              <td class="champTourImage">
                {% if match.team.image2 %}
                  <img src="{{ asset('images/clubs/') }}{{ match.team.image2 }}"
                    alt="{{ match.team.name }}" title="{{ match.team.name }}" />
                {% endif %}
              </td>
              <td class="champTourScore">
                {% if match.status == 1 %}
                  -
                {% else %}
                  {{ match.goal1 }}
                {% endif %}
              </td>
              <td class="champTourScore">
              {% if match.status == 1 %}
                -
              {% else %}
                {{ match.goal2 }}
              {% endif %}
              </td>
              <td class="champTourImage">
                {% if match.team2.image2 %}
                  <img src="{{ asset('images/clubs/') }}{{ match.team2.image2 }}"
                    alt="{{ match.team2.name }}" title="{{ match.team2.name }}" />
                {% endif %}
              </td>
              <td class="champTourTeam nhl-match-team">
              <a href="{{ path('nhl_show', {
                'season': app.request.get('season'),
                'id': match.team2.translit}) }}">{{ match.team2.name }}</a>
              </td>
            </tr>
            <tr class="champ-match-bomb">
              <td colspan="6" class="">{{ match.bomb }}</td>
            </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
    </table>
  </div>

  {% if is_granted("ROLE_ADMIN") %}
    <p><a href="{{ path('nhl_newSeason') }}">Добавить сезон</a></p>
  {% endif %}
{% endblock %}
