{% extends 'nhl/index.html.twig' %}

{% block title %}
   Лидеры НХЛ {{ app.request.get('season') }}
{% endblock %}

{% block description %}
    <meta name="description" content="Лидеры НХЛ {{ app.request.get('season') }},
          бомбардиры">
{% endblock %}

{% block seasons %}
    {% for season in seasons %}
        {% if app.request.get('season') == season.name %}
            <b>{{ season.name }}</b>
        {% else %}
            <a href="{{ path('nhl_leaders', {'season': season.name }) }}" class="spiski">{{ season.name }}</a>
        {% endif %}
    {% endfor %}
{% endblock %}



{% block content %}

<div class="champ-bombs champs">
  <p class="champ-title">Бомбардиры</p>
    <table>
        <thead>
            <tr class="shipTableTitle">
                <th>&nbsp;</th>
                <th class="bombName">&nbsp;</th>
                <th>Клуб</th>
                <th>Г</th>
                <th>П</th>
                <th>О</th>
            </tr>
        </thead>
        <tbody class="shipTable">
        {% for name, player in bombs %}

            <tr class="odd">
                <td class="player-position">{{ loop.index }}</td>
                <td class="spiski">
                    <a href="{{ path('nhl_player_show', {'id': player.player.player.translit}) }}" class="spiski">
                        {{ name }}</a>
                </td>
                <td class="bombTeam">{{ player.team }}</td>
                <td class="tableGoal">{{ player.goal }}</td>
                <td class="tableGoal">{{ player.assist }}</td>
                <td class="tableGoal">{{ player.score }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
