{% extends 'player/index.html.twig' %}

{% block title %}
    {{ player.0.name }}
{% endblock %}

{% block description %}
    <meta name="description" content="{{ player.0.name }}, статистика игрока, дата рождения, гражданство,
          амплуа, история выступлений, количество игр и мячей по сезонам">
{% endblock %}

{% block content %}
    <table>
        <tr>
            <td class="visit_card_player"><p class="playername">{{ player.0.name }}</p>

                <p>{{ player.0.country.name }}</p>

                <p>Дата рождения: <b>{{ player.0.born | date('d.m.Y') }}</b></p>
                <p>{{ player.0.amplua.name }}</p>

                {% if is_granted("ROLE_ADMIN") %}
                  <a href="{{ path('nhl_player_edit', {'id': player.0.id}) }}">
                     изменить</a>
                {% endif %}
            </td>

            <td class="scLink">
                {% if entities %}

                  <table class="playerStatTable">
                    <thead>
                      <tr class="shipTableTitle">
                          <th rowspan="2">&nbsp;</th>
                          <th rowspan="2" class="teamStatPlayer">&nbsp;</th>
                          <th colspan="3">Регулярный чемпионат</th>
                          <th colspan="3">Плей-офф</th>
                          <th colspan="3" class="champ-total-all">Всего</th>
                      </tr>
                      <tr class="shipTableTitle">
                        {% if player.0.amplua.name == 'вратарь' %}
                          <th class="teamStatGoal">И</th>
                          <th class="teamStatGoal">Ш</th>
                          <th class="teamStatGoal">0</th>
                          <th class="teamStatGoal">И</th>
                          <th class="teamStatGoal">Ш</th>
                          <th class="teamStatGoal">0</th>
                          <th class="teamStatGoal champ-total-all">И</th>
                          <th class="teamStatGoal champ-total-all">Ш</th>
                          <th class="teamStatGoal champ-total-all">0</th>
                        {% else %}
                          <th class="teamStatGoal">Г</th>
                          <th class="teamStatGoal">П</th>
                          <th class="teamStatGoal">О</th>
                          <th class="teamStatGoal">Г</th>
                          <th class="teamStatGoal">П</th>
                          <th class="teamStatGoal">О</th>
                          <th class="teamStatGoal champ-total-all">Г</th>
                          <th class="teamStatGoal champ-total-all">П</th>
                          <th class="teamStatGoal champ-total-all">О</th>
                        {% endif %}
                      </tr>
                  </thead>
                    {% if player.0.amplua.name == 'вратарь' %}
                      {% for entity in entities %}
                          <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                            <td>{{ entity.season.name }}</td>
                            <td>{{ entity.team.name }}</td>
                            <td>{{ entity.game }}</td>
                            <td>{{ entity.missed }}</td>
                            <td>{{ entity.zero }}</td>
                            <td>{{ entity.gamePlayOff }}</td>
                            <td>{{ entity.missedPlayOff }}</td>
                            <td>{{ entity.zeroPlayOff }}</td>
                            <td>{{ entity.gameSum }}</td>
                            <td>{{ entity.missedSum }}</td>
                            <td>{{ entity.zeroSum }}</td>
                          </tr>
                      {% endfor %}
                      <tr>
                          <td colspan="2"><b>Всего</b></td>
                          <td><b>{{ player.0.gameReg }}</b></td>
                          <td><b>{{ player.0.missedReg }}</b></td>
                          <td><b>{{ player.0.zeroReg }}</b></td>
                          <td><b>{{ player.0.gamePlayOff }}</b></td>
                          <td><b>{{ player.0.missedPlayOff }}</b></td>
                          <td><b>{{ player.0.zeroPlayOff }}</b></td>
                          <td><b>{{ player.0.gameSum }}</b></td>
                          <td><b>{{ player.0.missedSum }}</b></td>
                          <td><b>{{ player.0.zeroSum }}</b></td>
                      </tr>
                    {% else %}
                    {% for entity in entities %}
                        <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                          <td>{{ entity.season.name }}</td>
                          <td>{{ entity.team.name }}</td>
                          <td>{{ entity.goal }}</td>
                          <td>{{ entity.assist }}</td>
                          <td>{{ entity.score }}</td>
                          <td>{{ entity.goalPlayOff }}</td>
                          <td>{{ entity.assistPlayOff }}</td>
                          <td>{{ entity.scorePlayOff }}</td>
                          <td>{{ entity.goalSum }}</td>
                          <td>{{ entity.assistSum }}</td>
                          <td>{{ entity.scoreSum }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2"><b>Всего</b></td>
                        <td><b>{{ player.0.goalReg }}</b></td>
                        <td><b>{{ player.0.assistReg }}</b></td>
                        <td><b>{{ player.0.scoreReg }}</b></td>
                        <td><b>{{ player.0.goalPlayOff }}</b></td>
                        <td><b>{{ player.0.assistPlayOff }}</b></td>
                        <td><b>{{ player.0.scorePlayOff }}</b></td>
                        <td><b>{{ player.0.goalSum }}</b></td>
                        <td><b>{{ player.0.assistSum }}</b></td>
                        <td><b>{{ player.0.scoreSum }}</b></td>
                    </tr>
                    {% endif %}
                  </table>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}
