{% extends 'nhl/index.html.twig' %}

{% block title %}
   {{ club.name }} - состав команды в сезоне {{ app.request.get('season') }}
{% endblock %}

{% block seasons %}

    {% for season in seasons %}
        {% if app.request.get('season') == season.name %}
            <b>{{ season.name }}</b>
        {% else %}
        <a href="{{ path('nhl_season', {
          'season': season.name }) }}" class="spiski">
          {{ season.name }}</a>
        {% endif %}
    {% endfor %}

{% endblock %}

{% block content %}
  <div class="teams-list">{{ app.request.get('team') }}
    {% for team in teams %}
        <a href="{{ path('nhl_show', {'season': app.request.get('season'),
          'id': team.translit}) }}"
          class="spiski">
          {% if team.image %}
            <img src="{{ team.image }}"
              alt="{{ team.name }}" title="{{ team.name }}" />
          {% else %}
                {{ team.name }}
          {% endif %}
        </a>
    {% endfor %}
  </div>
  <h1>{{ club.name }}</h1>
  <div class="team-show-image">
    <div>
      {% if club.image %}
      <img src="{{ club.image }}"
        alt="{{ club.name }}" title="{{ club.name }}" />
      {% endif %}
      <table class="shipTable showTeam">
          <thead>
              <tr class="shipTableTitle">
                  <th>&nbsp;</th>
                  <th class="winsTable">И</th>
                  <th class="winsTable">В</th>
                  <th class="winsTable">Н</th>
                  <th class="winsTable">П</th>
                  <th class="goalsTable">M</th>
                  <th class="winsTable">О</th>

              </tr>
          </thead>
          <tbody>
            {% for entity in shiptable %}
              {% if entity.team.name == club.name %}
                <tr class="odd">
                    <td class="player-position">{{ loop.index }}</td>
                    <td>{{ entity.wins+entity.nich+entity.porazh }}</td>
                    <td>{{ entity.wins }}</td>
                    <td>{{ entity.nich }}</td>
                    <td>{{ entity.porazh }}</td>
                    <td>{{ entity.mz }}-{{ entity.mp }}</td>
                    <td class="table-score">{{ entity.score }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
      </table>
    </div>
  </div>

  <div class="team-show-image-mobile">
    <div>
      <h1>{{ club.name }}</h1>
      {% if club.image %}
      <img src="{{ asset('images/clubs/') }}{{ club.image }}"
        alt="{{ club.name }}" title="{{ club.name }}" />
      {% endif %}
    </div>
    <div>
      <table class="shipTable showTeam">
          <thead>
              <tr class="shipTableTitle">
                  <th>&nbsp;</th>
                  <th class="winsTable">И</th>
                  <th class="winsTable">В</th>
                  <th class="winsTable">Н</th>
                  <th class="winsTable">П</th>
                  <th class="goalsTable">M</th>
                  <th class="winsTable">О</th>

              </tr>
          </thead>
          <tbody>
            {% for entity in shiptable %}
              {% if entity.team.name == club.name %}
                <tr class="odd">
                    <td class="player-position">{{ loop.index }}</td>
                    <td>{{ entity.wins+entity.nich+entity.porazh }}</td>
                    <td>{{ entity.wins }}</td>
                    <td>{{ entity.nich }}</td>
                    <td>{{ entity.porazh }}</td>
                    <td>{{ entity.mz }}-{{ entity.mp }}</td>
                    <td class="table-score">{{ entity.score }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
      </table>
    </div>
  </div>

<div class="row">
  <div class="champ-teams-list col-lg-8">
    {% block playersTeam %}
    <div class="champ-teams-list">
        <table>
        {% if is_granted("ROLE_ADMIN") == false %}
            <thead>
                <tr class="shipTableTitle">
                    <th rowspan="2">&nbsp;</th>
                    <th rowspan="2" class="teamStatPlayer">&nbsp;</th>
                    <th colspan="3">Регулярный чемпионат</th>
                    <th colspan="3">Плей-офф</th>
                    <th colspan="3">Всего в сезоне {{ app.request.get('season') }}</th>
                    <th colspan="3" class="champ-total-club">Всего за {{ club.name }}</th>
                    <th colspan="3" class="champ-total-all">Всего</th>
                </tr>
                <tr class="shipTableTitle">

                    <th class="teamStatGoal">Г</th>
                    <th class="teamStatGoal">П</th>
                    <th class="teamStatGoal">О</th>
                    <th class="teamStatGoal">Г</th>
                    <th class="teamStatGoal">П</th>
                    <th class="teamStatGoal">О</th>
                    <th class="teamStatGoal">Г</th>
                    <th class="teamStatGoal">П</th>
                    <th class="teamStatGoal">О</th>
                    <th class="teamStatGoal champ-total-club">Г</th>
                    <th class="teamStatGoal champ-total-club">П</th>
                    <th class="teamStatGoal champ-total-club">О</th>
                    <th class="teamStatGoal champ-total-all">Г</th>
                    <th class="teamStatGoal champ-total-all">П</th>
                    <th class="teamStatGoal champ-total-all">О</th>
                </tr>
            </thead>
            {% endif %}
            <tbody>
            {% for player in players %}
                <tr class="{{ cycle(['odd', 'even'], loop.index) }}
                  {% if is_granted("ROLE_ADMIN") %}
                    tr-admin
                  {% endif %}
                ">
                    <td class="player-position">{{ loop.index }}</td>
                    <td class="player-name">
                      <a href="{{ path('nhl_player_show', {
                        'id': player.player.translit}) }}" data-id="{{ player.id }}"
                        class="spiski {% if player.player.name == lastPlayer %}selected{% endif %}">
                        {{ player.player.name }}
                      </a>
                      {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('nhl_confirm_delete_player',
                          {'id': player.id}) }}">
                          x</a>
                      {% endif %}
                  </td>
                    <td class="tableGoal shipplayer-game">
                        {% if is_granted("ROLE_ADMIN") %}
                        <span class="changeGameGoalPlayer"
                          data-change="minusGoal"
                          data-path="nhl_editChamp"
                          data-id="{{ player.id }}"
                          data-season="{{ app.request.get('season') }}"
                          data-team="{{ app.request.get('id') }}">-</span>
                        {% endif %}
                        <span data-id="{{ player.id }}" data-param="goal">
                          {{ player.goal }}
                        </span>
                        {% if is_granted("ROLE_ADMIN") %}
                          <span class="changeGameGoalPlayer"
                            data-change="plusGoal"
                            data-path="nhl_editChamp"
                            data-id="{{ player.id }}"
                            data-season="{{ app.request.get('season') }}"
                            data-team="{{ app.request.get('id') }}">+</span>
                        {% endif %}
                    </td>
                    <td class="tableGoal">
                        {% if is_granted("ROLE_ADMIN") %}
                        <span class="changeGameGoalPlayer"
                          data-change="minusAssist"
                          data-path="nhl_editChamp"
                          data-id="{{ player.id }}"
                          data-season="{{ app.request.get('season') }}"
                          data-team="{{ app.request.get('id') }}">-</span>
                        {% endif %}
                        <span data-id="{{ player.id }}" data-param="assist">
                          {{ player.assist }}
                        </span>

                        {% if is_granted("ROLE_ADMIN") %}
                        <span class="changeGameGoalPlayer"
                          data-change="plusAssist"
                          data-path="nhl_editChamp"
                          data-id="{{ player.id }}"
                          data-season="{{ app.request.get('season') }}"
                          data-team="{{ app.request.get('id') }}">+</span>
                        {% endif %}
                    </td>
                    <td class="tableGoal">
                        <span data-id="{{ player.id }}" data-param="score">
                          {{ player.score }}
                        </span>
                    </td>
                    <td class="champ-team-column total-game tableGoal">
                      {% if is_granted("ROLE_ADMIN") %}
                        <span class="changeGameGoalPlayer"
                          data-change="minusGoalPo"
                          data-path="nhl_editChamp"
                          data-id="{{ player.id }}"
                          data-season="{{ app.request.get('season') }}"
                          data-team="{{ app.request.get('id') }}">-</span>
                        {% endif %}

                        <span data-id="{{ player.id }}" data-param="goalPo">
                        {{ player.goalPlayOff }}
                        </span>

                        {% if is_granted("ROLE_ADMIN") %}
                          <span class="changeGameGoalPlayer"
                            data-change="plusGoalPo"
                            data-path="nhl_editChamp"
                            data-id="{{ player.id }}"
                            data-season="{{ app.request.get('season') }}"
                            data-team="{{ app.request.get('id') }}">+</span>
                        {% endif %}
                    </td>
                    <td class="champ-team-column total-game tableGoal">
                      {% if is_granted("ROLE_ADMIN") %}
                        <span class="changeGameGoalPlayer"
                          data-change="minusAssistPo"
                          data-path="nhl_editChamp"
                          data-id="{{ player.id }}"
                          data-season="{{ app.request.get('season') }}"
                          data-team="{{ app.request.get('id') }}">-</span>
                        {% endif %}

                        <span data-id="{{ player.id }}" data-param="assistPo">
                        {{ player.assistPlayOff }}
                        </span>

                        {% if is_granted("ROLE_ADMIN") %}
                        <span class="changeGameGoalPlayer"
                          data-change="plusAssistPo"
                          data-path="nhl_editChamp"
                          data-id="{{ player.id }}"
                          data-season="{{ app.request.get('season') }}"
                          data-team="{{ app.request.get('id') }}">+</span>
                        {% endif %}
                    </td>
                    <td class="champ-team-column total-game tableGoal">
                        <span data-id="{{ player.id }}" data-param="scorePo">
                          {{ player.scorePlayOff }}
                        </span>
                    </td>
                    <td class="champ-team-column total-game">
                        {{ player.goalSum }}
                    </td>
                    <td class="champ-team-column total-game">
                        {{ player.assistSum }}
                    </td>
                    <td class="champ-team-column total-game">
                        {{ player.scoreSum }}
                    </td>
                    <td class="champ-team-column total-game champ-total-club">
                        {{ player.goalTeam }}
                    </td>
                    <td class="champ-team-column total-game champ-total-club">
                        {{ player.assistTeam }}
                    </td>
                    <td class="champ-team-column total-game champ-total-club">
                        {{ player.scoreTeam }}
                    </td>
                    <td class="champ-team-column total-game champ-total-all">
                        {{ player.player.goalSum }}
                    </td>
                    <td class="champ-team-column total-game champ-total-all">
                        {{ player.player.assistSum }}
                    </td>
                    <td class="champ-team-column total-game champ-total-all">
                        {{ player.player.scoreSum }}
                    </td>
                  </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>Вратари</div>
        <table>
        {% if is_granted("ROLE_ADMIN") == false %}
            <thead>
                <tr class="shipTableTitle">
                    <th rowspan="2">&nbsp;</th>
                    <th rowspan="2" class="teamStatPlayer">&nbsp;</th>
                    <th colspan="3">Регулярный чемпионат</th>
                    <th colspan="3">Плей-офф</th>
                    <th colspan="3">Всего в сезоне {{ app.request.get('season') }}</th>
                    <th colspan="3" class="champ-total-club">Всего за {{ club.name }}</th>
                    <th colspan="3" class="champ-total-all">Всего</th>
                </tr>
                <tr class="shipTableTitle">

                    <th class="teamStatGoal">И</th>
                    <th class="teamStatGoal">Ш</th>
                    <th class="teamStatGoal">0</th>
                    <th class="teamStatGoal">И</th>
                    <th class="teamStatGoal">Ш</th>
                    <th class="teamStatGoal">0</th>
                    <th class="teamStatGoal">И</th>
                    <th class="teamStatGoal">Ш</th>
                    <th class="teamStatGoal">0</th>
                    <th class="teamStatGoal champ-total-club">И</th>
                    <th class="teamStatGoal champ-total-club">Ш</th>
                    <th class="teamStatGoal champ-total-club">0</th>
                    <th class="teamStatGoal champ-total-all">И</th>
                    <th class="teamStatGoal champ-total-all">Ш</th>
                    <th class="teamStatGoal champ-total-all">0</th>
                </tr>
            </thead>
            {% endif %}
            <tbody>
            {% for player in goalies %}
                <tr class="{{ cycle(['odd', 'even'], loop.index) }}
                  {% if is_granted("ROLE_ADMIN") %}
                    tr-admin
                  {% endif %}
                ">
                    <td class="player-position">{{ loop.index }}</td>
                    <td class="player-name">
                      <a href="{{ path('nhl_player_show', {
                        'id': player.player.translit}) }}" data-id="{{ player.id }}"
                        class="spiski {% if player.player.name == lastPlayer %}selected{% endif %}">
                        {{ player.player.name }}
                      </a>
                  </td>
                    <td class="tableGoal shipplayer-game">
                        {% if is_granted("ROLE_ADMIN") %}
                        <span class="changeGameGoalPlayer"
                          data-change="minusGame"
                          data-path="nhl_editChamp"
                          data-id="{{ player.id }}"
                          data-season="{{ app.request.get('season') }}"
                          data-team="{{ app.request.get('id') }}">-</span>
                        {% endif %}
                        <span data-id="{{ player.id }}" data-param="game">
                          {{ player.game }}
                        </span>
                        {% if is_granted("ROLE_ADMIN") %}
                          <span class="changeGameGoalPlayer"
                            data-change="plusGame"
                            data-path="nhl_editChamp"
                            data-id="{{ player.id }}"
                            data-season="{{ app.request.get('season') }}"
                            data-team="{{ app.request.get('id') }}">+</span>
                        {% endif %}
                    </td>
                    <td class="tableGoal">
                        {% if is_granted("ROLE_ADMIN") %}
                        <span class="changeGameGoalPlayer"
                          data-change="minusMissed"
                          data-path="nhl_editChamp"
                          data-id="{{ player.id }}"
                          data-season="{{ app.request.get('season') }}"
                          data-team="{{ app.request.get('id') }}">-</span>
                        {% endif %}
                        <span data-id="{{ player.id }}" data-param="missed">
                          {{ player.missed }}
                        </span>

                        {% if is_granted("ROLE_ADMIN") %}
                        <span class="changeGameGoalPlayer"
                          data-change="plusMissed"
                          data-path="nhl_editChamp"
                          data-id="{{ player.id }}"
                          data-season="{{ app.request.get('season') }}"
                          data-team="{{ app.request.get('id') }}">+</span>
                        {% endif %}
                    </td>
                    <td class="tableGoal">
                        {% if is_granted("ROLE_ADMIN") %}
                        <span class="changeGameGoalPlayer"
                          data-change="minusZero"
                          data-path="nhl_editChamp"
                          data-id="{{ player.id }}"
                          data-season="{{ app.request.get('season') }}"
                          data-team="{{ app.request.get('id') }}">-</span>
                        {% endif %}
                        <span data-id="{{ player.id }}" data-param="zero">
                          {{ player.zero }}
                        </span>

                        {% if is_granted("ROLE_ADMIN") %}
                        <span class="changeGameGoalPlayer"
                          data-change="plusZero"
                          data-path="nhl_editChamp"
                          data-id="{{ player.id }}"
                          data-season="{{ app.request.get('season') }}"
                          data-team="{{ app.request.get('id') }}">+</span>
                        {% endif %}
                    </td>

                    <td class="tableGoal shipplayer-game">
                        {% if is_granted("ROLE_ADMIN") %}
                        <span class="changeGameGoalPlayer"
                          data-change="minusGamePo"
                          data-path="nhl_editChamp"
                          data-id="{{ player.id }}"
                          data-season="{{ app.request.get('season') }}"
                          data-team="{{ app.request.get('id') }}">-</span>
                        {% endif %}
                        <span data-id="{{ player.id }}" data-param="gamePo">
                          {{ player.gamePlayOff }}
                        </span>
                        {% if is_granted("ROLE_ADMIN") %}
                          <span class="changeGameGoalPlayer"
                            data-change="plusGamePo"
                            data-path="nhl_editChamp"
                            data-id="{{ player.id }}"
                            data-season="{{ app.request.get('season') }}"
                            data-team="{{ app.request.get('id') }}">+</span>
                        {% endif %}
                    </td>
                    <td class="tableGoal">
                        {% if is_granted("ROLE_ADMIN") %}
                        <span class="changeGameGoalPlayer"
                          data-change="minusMissedPo"
                          data-path="nhl_editChamp"
                          data-id="{{ player.id }}"
                          data-season="{{ app.request.get('season') }}"
                          data-team="{{ app.request.get('id') }}">-</span>
                        {% endif %}
                        <span data-id="{{ player.id }}" data-param="missedPo">
                          {{ player.missedPlayOff }}
                        </span>

                        {% if is_granted("ROLE_ADMIN") %}
                        <span class="changeGameGoalPlayer"
                          data-change="plusMissedPo"
                          data-path="nhl_editChamp"
                          data-id="{{ player.id }}"
                          data-season="{{ app.request.get('season') }}"
                          data-team="{{ app.request.get('id') }}">+</span>
                        {% endif %}
                    </td>
                    <td class="tableGoal">
                        {% if is_granted("ROLE_ADMIN") %}
                        <span class="changeGameGoalPlayer"
                          data-change="minusZeroPo"
                          data-path="nhl_editChamp"
                          data-id="{{ player.id }}"
                          data-season="{{ app.request.get('season') }}"
                          data-team="{{ app.request.get('id') }}">-</span>
                        {% endif %}
                        <span data-id="{{ player.id }}" data-param="zeroPo">
                          {{ player.zeroPlayOff }}
                        </span>

                        {% if is_granted("ROLE_ADMIN") %}
                        <span class="changeGameGoalPlayer"
                          data-change="plusZeroPo"
                          data-path="nhl_editChamp"
                          data-id="{{ player.id }}"
                          data-season="{{ app.request.get('season') }}"
                          data-team="{{ app.request.get('id') }}">+</span>
                        {% endif %}
                    </td>
                    <td class="champ-team-column total-game">
                        {{ player.gameSum }}
                    </td>
                    <td class="champ-team-column total-game">
                        {{ player.missedSum }}
                    </td>
                    <td class="champ-team-column total-game">
                        {{ player.zeroSum }}
                    </td>
                    <td class="champ-team-column total-game champ-total-club">
                        {{ player.gameTeam }}
                    </td>
                    <td class="champ-team-column total-game champ-total-club">
                        {{ player.missedTeam }}
                    </td>
                    <td class="champ-team-column total-game champ-total-club">
                        {{ player.zeroTeam }}
                    </td>
                    <td class="champ-team-column total-game champ-total-all">
                        {{ player.player.gameSum }}
                    </td>
                    <td class="champ-team-column total-game champ-total-all">
                        {{ player.player.missedSum }}
                    </td>
                    <td class="champ-team-column total-game champ-total-all">
                        {{ player.player.zeroSum }}
                    </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
            {% if is_granted("ROLE_ADMIN") %}
              <a href="{{ path('nhl_newChampPlayer', {'season': app.request.get('season'),
              'team': app.request.get('id'),
              'flag':'all'}) }}">
                Добавить игрока</a> |
              <a href="{{ path('nhl_newChampLast', {'season': app.request.get('season'),
                            'team': app.request.get('id'), 'isTeam': true}) }}">
                                Добавить последнего игрока команды</a> |
              <a href="{{ path('nhl_newChampPlayer', {'season': app.request.get('season'),
                'team': app.request.get('id'),
                'flag':'nfl'}) }}">
                    Добавить игрока NFL</a> |
              <a href="{{ path('nhl_newPlayersteam', {
                'season': app.request.get('season'), 'team': app.request.get('id')}) }}">
                    Добавить игрока в команду</a> |
              <a href="{{ path('nhl_newChampLast', {
                'season': app.request.get('season'),
                'team': app.request.get('id')}) }}">
                Добавить последнего игрока</a> |
              <a href="{{ path('nhl_newPlayer', {'season': app.request.get('season'),
              'team': app.request.get('id')}) }}">
                  Создать игрока</a> |
            {% endif %}
        </div>        
      </div>
      <div class="col-lg-4 team-last-matches">
          {{ include('shiptable/lastMatches.html.twig', {'lastMatches': lastMatches }) }}
        </div>
    {% endblock %}
  </div>
{% endblock %}
