{% extends 'base.html.twig' %}

{% block title %}
    Обновить матч
{% endblock %}

{% block description %}
{% endblock %}

{% block seasons %}
{% endblock %}

{% block content %}
    <form action="{{ path('championships_update', {'id': app.request.get('id'),
    'country': app.request.get('country')}) }}"
      method="post">
       <table>
            <tbody>
                <tr>
                    <th>{{ form_label(form.season) }}</th>
                    <td>
                        {{ form_errors(form.season) }}
                        {{ form_widget(form.season) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.tour) }}</th>
                    <td>
                        {{ form_errors(form.tour) }}
                        {{ form_widget(form.tour) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.data) }}</th>
                    <td>
                        {{ form_errors(form.data) }}
                        {{ form_widget(form.data) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.team) }}</th>
                    <td>
                        {{ form_errors(form.team) }}
                        {{ form_widget(form.team) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.team2) }}</th>
                    <td>
                        {{ form_errors(form.team2) }}
                        {{ form_widget(form.team2) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.bomb) }}</th>
                    <td>
                        {{ form_errors(form.bomb) }}
                        {{ form_widget(form.bomb) }}
                    </td>
                </tr>
                {% if country == 'russia' %}
                <tr>
                    <th>{{ form_label(form.city) }}</th>
                    <td>
                        {{ form_errors(form.city) }}
                        {{ form_widget(form.city) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.referee) }}</th>
                    <td>
                        {{ form_errors(form.referee) }}
                        {{ form_widget(form.referee) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.zriteli) }}</th>
                    <td>
                        {{ form_errors(form.zriteli) }}
                        {{ form_widget(form.zriteli) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.game) }}</th>
                    <td>
                        {{ form_errors(form.game) }}
                        {{ form_widget(form.game) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.game2) }}</th>
                    <td>
                        {{ form_errors(form.game2) }}
                        {{ form_widget(form.game2) }}
                    </td>
                </tr>
                {% endif %}
            </tbody>
       </table>
        <p>
            {{ form_row(form._token) }}
            <button type="submit" class="spiski">Обновить</button>

        </p>
    </form>


{% endblock %}
