{% extends 'base.html.twig' %}

{% block title %}
   Чемпионат {{ rusCountry }} {{ app.request.get('season') }}
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="чемпионат {{ rusCountry }} {{ app.request.get('season') }},
          бомбардиры, турнирная таблица, матчи">
{% endblock %}

{% block description %}
    <meta name="description" content="чемпионат {{ rusCountry }} {{ app.request.get('season') }},
          бомбардиры, турнирная таблица, матчи">
{% endblock %}

{% block zagolovok %}
    Чемпионат {{ rusCountry }} {{ app.request.get('season') }}
{% endblock %}

{% block seasons %}
    {% for season in seasons %}
        {% if app.request.get('season') == season.season.name %}
            <b>{{ season.season.name }}</b>
        {% else %}
            <a href="{{ path('championships', {'country': app.request.get('country'), 'season': season.season.name}) }}" class="spiski">{{ season.season.name }}</a>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block sidebar %}
 <td class="sidebarMenu">
     <ul>
        <li><a href="{{ path('championships', {'country': 'russia', 'season': season}) }}">РОССИЯ</a></li>
        <ul>
            <li><a href="{{ path('cup', {'season': season}) }}">Кубок</a></li>
            <li><a href="{{ path('supercup', {'country': 'russia'}) }}">Суперкубок</a></li>

            <li><a href="{{ path('championships', {'country': 'fnl', 'season': season}) }}">ФНЛ</a></li>

            </ul>
        <li><a href="{{ path('championships', {'country': 'england', 'season': season}) }}">АНГЛИЯ</a></li>
        <ul>
            <li><a href="{{ path('nationcup', {'country': 'england',
                'season': season}) }}">Кубок</a></li>
            <li><a href="{{ path('supercup', {'country': 'england'}) }}">Суперкубок</a></li>
        </ul>
        <li><a href="{{ path('championships', {'country': 'spain', 'season': season}) }}">ИСПАНИЯ</a></li>
        <ul>
            <li><a href="{{ path('nationcup', {'country': 'spain',
                'season': season}) }}">Кубок</a></li>
            <li><a href="{{ path('supercup', {'country': 'spain'}) }}">Суперкубок</a></li>
        </ul>
        <li><a href="{{ path('championships', {'country': 'italy', 'season': season}) }}">ИТАЛИЯ</a></li>
        <ul>
            <li><a href="{{ path('nationcup', {'country': 'italy',
                'season': season}) }}">Кубок</a></li>
            <li><a href="{{ path('supercup', {'country': 'italy'}) }}">Суперкубок</a></li>
        </ul>
        <li><a href="{{ path('championships', {'country': 'germany', 'season': season}) }}">ГЕРМАНИЯ</a></li>
        <ul>
            <li><a href="{{ path('nationcup', {'country': 'germany',
                'season': season}) }}">Кубок</a></li>
            <li><a href="{{ path('supercup', {'country': 'germany'}) }}">Суперкубок</a></li>
        </ul>
        <li><a href="{{ path('championships', {'country': 'france', 'season': season}) }}">ФРАНЦИЯ</a></li>
        <ul>
            <li><a href="{{ path('nationcup', {'country': 'france',
                'season': season}) }}">Кубок</a></li>
            <li><a href="{{ path('supercup', {'country': 'france'}) }}">Суперкубок</a></li>
        </ul>
     </ul>
 </td>
 {% endblock %}

{% block content %}
<div class="champ-tours champs">
        {% for tour in tours %}
            {% if app.request.get('tour') != tour.tour %}
               <a href="{{ path('championships', {'country': app.request.get('country'),
                 'season': app.request.get('season'), 'tour' : tour.tour}) }}" class="spiski">
                   {{ tour.tour }}</a>
            {% else %}
                <b>{{ tour.tour }}</b>
            {% endif %}
        {% endfor %}
        <p><b>{% if app.request.get('tour') == false %}
                {{ maxTour }}
              {% else %}
                  {{ app.request.get('tour') }}
              {% endif %}-й тур</b></p>
              {% if is_granted("ROLE_ADMIN") %}
        <p><a href="{{ path('championships_newMatch', {'country': app.request.get('country'),
         'season': app.request.get('season')}) }}">Добавить матч</a></p>
         {% endif %}
        <table>
            <tbody>
            {% for match in matches %}

                {% if is_granted("ROLE_ADMIN") %}
                   {% if app.request.get('country')=='russia' %}
                       <tr><td colspan="4" bgcolor="#FFEEAA">
                         <a href="{{ path('championships_newrus', {'id': match.id}) }}">
                             {{ match.data | date('d.m H:i') }}</a></td>
                    </tr>
                    {% else %}
                <tr><td colspan="4" bgcolor="#FFEEAA">
                        <a href="{{ path('championships_new', {'id': match.id}) }}">
                          {{ match.data | date('d.m H:i') }}</a></td>
                    </tr>
                    {% endif %}
                {% else %}
                    <tr>
                      <td colspan="4" bgcolor="#FFEEAA">
                          {% if match.status == 1 %}
                            {{ match.data | date('d.m H:i') }}
                          {% else %}
                              {{ match.data | date('d.m') }}
                          {% endif %}
                      </td>
                    </tr>
                {% endif %}


            <tr>
              <td class="champTourTeam">{{ match.team.name }}</td>
              <td class="champTourScore">
                {% if match.status == 1 %}
                  -
                {% else %}
                  {{ match.goal1 }}
                {% endif %}
              </td>
              <td class="champTourScore">
              {% if match.status == 1 %}
                -
              {% else %}
                {{ match.goal2 }}
              {% endif %}
              </td>
              <td class="champTourTeam">{{ match.team2.name }}</td>
            </tr>
            <tr>
              <td colspan="4" bgcolor="#FFFFCC" class="">{{ match.bomb }}</td>
            </tr>


            {% endfor %}
            </tbody>
        </table>
        </div>

<div class="champ-table champs">
    <table class="shipTable">
        <thead>
            <tr class="shipTableTitle">
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th class="winsTable">И</th>
                <th class="winsTable">В</th>
                <th class="winsTable">Н</th>
                <th class="winsTable">П</th>
                <th class="goalsTable">M</th>
                <th class="winsTable">О</th>

            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}

            <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                <td class="player-position">{{ loop.index }}</td>
                <td class="tableLeft"><a href="{{ path('championships_show', {'id': entity.team.translit, 'season': app.request.get('season'), 'country': app.request.get('country')}) }}" class="shipTableTeam">{{ entity.team.name }}</a></td>
                <td>{{ entity.wins+entity.nich+entity.porazh }}</td>
                <td>{{ entity.wins }}</td>
                <td>{{ entity.nich }}</td>
                <td>{{ entity.porazh }}</td>
                <td>{{ entity.mz }}-{{ entity.mp }}</td>
                <td class="table-score">{{ entity.score }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

<div class="champ-bombs champs">
                <p class="champ-title">Бомбардиры</p>
    <table>
        <thead>
            <tr class="shipTableTitle">
                <th>&nbsp;</th>
                <th class="bombName">&nbsp;</th>
                <th>Клуб</th>
                <th>Г</th>


            </tr>
        </thead>
        <tbody>
        {% for bomb in bombs %}

            <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                <td>{{ loop.index }}</td>
                <td class="spiski">
                    <a href="{{ path('player_show', {'id': bomb.player.translit}) }}" class="spiski">
                        {{ bomb.player.name }}</a>

                </td>
                <td class="bombTeam">{{ bomb.team.name }}</td>
                <td class="tableGoal">{{ bomb.goal }}</td>


            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}
