{% extends 'base.html.twig' %}

{% block title %}
   Чемпионат {{ rusCountry }} {{ app.request.get('season') }}
{% endblock %}

{% block description %}
    <meta name="description" content="чемпионат {{ rusCountry }} {{ app.request.get('season') }},
          бомбардиры, турнирная таблица, матчи">
{% endblock %}

 {% block navbar %}

   <nav class="navbar navbar-default" role="navigation">
       <div class="container-fluid">
           <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
               </button>
           </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav start_menu" id="subMenu">
                    {% for item in menu %}
                        <li class="eChild">
                            <a href="{{ item.url }}">{{ item.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
       </div>
   </nav>
 {% endblock %}

{% block teams %}
 {% endblock %}

 {% block seasons %}
   <div class="seasons">
     {% for season in seasons %}
         {% if app.request.get('season') == season.name %}
             <b>{{ season.name }}</b>
         {% else %}
             <a href="{{ path('championships', {'country': app.request.get('country'), 'season': season.name}) }}" class="spiski">
               {{ season.name }}
             </a>
         {% endif %}
     {% endfor %}
   </div>
 {% endblock %}

{% block content %}
<div><h1>Чемпионат {{ rusCountry }} {{ app.request.get('season') }}</h1></div>
    <div class="row shiptable_root">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-{% if isNoTop %}6{% else %}4{% endif %} shiptable_block">
            <div class="champ-tours">Туры:
                {% for tour in tours %}
                        <span class="spiski tour_js {% if app.request.get('tour') == tour.tour %}active{% endif %}"
                            data-season="{{ app.request.get('season') }}"
                            data-tour="{{ tour.tour }}"
                            data-country="{{ app.request.get('country') }}"
                            >
                            {{ tour.tour }}</span>
                {% endfor %}
                <div class="tour_text"><span>{% if app.request.get('tour') == false %}
                            {{ maxTour }}
                        {% else %}
                            {{ app.request.get('tour') }}
                        {% endif %}</span>-й тур</div>
                    {% if is_granted("ROLE_ADMIN") %}
                        <p><a href="{{ path('championships_newMatch', {'country': app.request.get('country'),
                                'season': app.request.get('season')}) }}">Добавить матч</a></p>
                    {% endif %}
                <table class="table champship-table">
                    <tbody>
                        {{ include('shiptable/tour.html.twig', { 'matches': matches, 'isNoTop': isNoTop, 'noTopTeams': noTopTeams }) }}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-{% if isNoTop %}6{% else %}4{% endif %} shiptable_block">
            <div class="champ-table">
                <p class="champ-title">Турнирная таблица</p>
                <table class="shipTable">
                    <thead>
                    <tr class="shipTableTitle">
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th class="winsTable">И</th>
                        <th class="winsTable">В</th>
                        <th class="winsTable">Н</th>
                        <th class="winsTable">П</th>
                        <th class="goalsTable">M</th>
                        <th class="winsTable">О</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        {% set link = "javascript:void(0);" %}
                        {% if isNoTop == false or entity.team.name in noTopTeams %}
                            {% set link = path('championships_show', {
                                    'id': entity.team.translit, 'season': app.request.get('season'),
                                    'country': app.request.get('country')}) %}
                        {% endif %}
                        <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                            <td class="player-position">{{ loop.index }}</td>
                            <td class="tableLeft">
                                <a href="{{ link }}" class="shipTableTeam">
                                    {{ entity.team.name }}
                                </a>
                            </td>
                            <td>{{ entity.wins+entity.nich+entity.porazh }}</td>
                            <td>{{ entity.wins }}</td>
                            <td>{{ entity.nich }}</td>
                            <td>{{ entity.porazh }}</td>
                            <td>{{ entity.mz }}-{{ entity.mp }}</td>
                            <td class="table-score">{{ entity.score }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if isNoTop == false %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 shiptable_block">
            <div class="champ-bombs">
                <p class="champ-title">Бомбардиры</p>
                <table>
                    <thead>
                    <tr class="shipTableTitle">
                        <th>&nbsp;</th>
                        <th class="bombName">&nbsp;</th>
                        <th>Клуб</th>
                        <th>Г</th>
                    </tr>
                    </thead>
                    <tbody class="shipTable">
                    {% for name, player in bombs %}
                        <tr class="odd">
                            <td class="player-position">{{ loop.index }}</td>
                            <td class="spiski">
                                <a href="{{ path('player_show', {'id': player.player.player.translit}) }}" class="spiski">
                                    {{ name }}</a>
                            </td>
                            <td class="bombTeam">{{ player.team }}</td>
                            <td class="tableGoal">{{ player.goal }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

        {% if assistSum %}
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 shiptable_block">
              <div class="champ-bombs">
                  <p class="champ-title">Ассистенты</p>
                  <table>
                      <thead>
                      <tr class="shipTableTitle">
                          <th>&nbsp;</th>
                          <th class="bombName">&nbsp;</th>
                          <th>Клуб</th>
                          <th>П</th>
                      </tr>
                      </thead>
                      <tbody class="shipTable">
                      {% for name, player in assistSum %}
                          <tr class="odd">
                              <td class="player-position">{{ loop.index }}</td>
                              <td class="spiski">
                                  <a href="{{ path('player_show', {'id': player.player.player.translit}) }}" class="spiski">
                                      {{ name }}</a>
                              </td>
                              <td class="bombTeam">{{ player.team }}</td>
                              <td class="tableGoal">{{ player.goal }}</td>
                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
        {% endif %}

        {% if scoreSum %}
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 shiptable_block">
              <div class="champ-bombs">
                  <p class="champ-title">Очки</p>
                  <table>
                      <thead>
                      <tr class="shipTableTitle">
                          <th>&nbsp;</th>
                          <th class="bombName">&nbsp;</th>
                          <th>Клуб</th>
                          <th>O</th>
                      </tr>
                      </thead>
                      <tbody class="shipTable">
                      {% for name, player in scoreSum %}
                          <tr class="odd">
                              <td class="player-position">{{ loop.index }}</td>
                              <td class="spiski">
                                  <a href="{{ path('player_show', {'id': player.player.player.translit}) }}" class="spiski">
                                      {{ name }}</a>
                              </td>
                              <td class="bombTeam">{{ player.team }}</td>
                              <td class="tableGoal">{{ player.goal }}</td>
                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
        {% endif %}
    </div>




    {% if is_granted("ROLE_ADMIN") %}
      <p><a href="{{ path('championships_newSeason', {'country': app.request.get('country')
      }) }}">Добавить сезон</a></p>
    {% endif %}
{% endblock %}
