{% extends 'shiptable/index.html.twig' %}

{% block title %}
    Добавить игрока
{% endblock %}

{% block description %}
{% endblock %}

{% block seasons %}
{% endblock %}

{% block content %}

    <form action="{{ path('player_createChampNation', {'team': app.request.get('team'), 'country': app.request.get('country'),
    'season': app.request.get('season'), 'flag': app.request.get('flag')}) }}" method="post">
       <table>
            <tbody>
                <tr>
                    <th>{{ form_label(form.player) }}</th>
                    <td>
                        {{ form_errors(form.player) }}
                        {{ form_widget(form.player) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.game) }}</th>
                    <td>
                        {{ form_errors(form.game) }}
                        {{ form_widget(form.game) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.goal) }}</th>
                    <td>
                        {{ form_errors(form.goal) }}
                        {{ form_widget(form.goal) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.cup) }}</th>
                    <td>
                        {{ form_errors(form.cup) }}
                        {{ form_widget(form.cup) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.supercup) }}</th>
                    <td>
                        {{ form_errors(form.supercup) }}
                        {{ form_widget(form.supercup) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.eurocup) }}</th>
                    <td>
                        {{ form_errors(form.eurocup) }}
                        {{ form_widget(form.eurocup) }}
                    </td>
                </tr>

            </tbody>
       </table>
        <p>
            {{ form_row(form._token) }}
            <button type="submit" class="spiski">Добавить</button>

        </p>
    </form>
<a href="{{ path('championships_show', {'id': app.request.get('team'),
'country': app.request.get('country'), 'season': app.request.get('season')}) }}">Назад</a>

{% endblock %}
