{% extends 'base.html.twig' %}

{% block title %}
    Добавить матч
{% endblock %}

{% block description %}
{% endblock %}

{% block seasons %}
{% endblock %}

{% block content %}
    <p>Тур: <b>{{entity.tour}}</b></p>
    <p>Матч: <b>{{entity.team}} - {{entity.team2}}</b></p>
    <form action="{{ path('championships_createrus', {'id': app.request.get('id')}) }}"
      method="post">
       <table>
            <tbody>
                <tr>
                    <th>{{ form_label(form.city) }}</th>
                    <td>
                        {{ form_errors(form.city) }}
                        {{ form_widget(form.city) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.zriteli) }}</th>
                    <td>
                        {{ form_errors(form.zriteli) }}
                        {{ form_widget(form.zriteli) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.goal1) }}</th>
                    <td>
                        {{ form_errors(form.goal1) }}
                        {{ form_widget(form.goal1) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.goal2) }}</th>
                    <td>
                        {{ form_errors(form.goal2) }}
                        {{ form_widget(form.goal2) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.bomb) }}</th>
                    <td>
                        {{ form_errors(form.bomb) }}
                        {{ form_widget(form.bomb) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.game) }}</th>
                    <td>
                        {{ form_errors(form.game) }}
                        {{ form_widget(form.game) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.game2) }}</th>
                    <td>
                        {{ form_errors(form.game2) }}
                        {{ form_widget(form.game2) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.penalty) }}</th>
                    <td>
                        {{ form_errors(form.penalty) }}
                        {{ form_widget(form.penalty) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.player) }}</th>
                    <td>
                        {{ form_errors(form.player) }}
                        {{ form_widget(form.player) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.player2) }}</th>
                    <td>
                        {{ form_errors(form.player2) }}
                        {{ form_widget(form.player2) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.referee) }}</th>
                    <td>
                        {{ form_errors(form.referee) }}
                        {{ form_widget(form.referee) }}
                    </td>
                </tr>
            </tbody>
       </table>
        <p>
            {{ form_row(form._token) }}
            <button type="submit" class="spiski">Добавить</button>

        </p>
    </form>


{% endblock %}
