{% extends 'shiptable/show.html.twig' %}


{% block seasons %}

    {% for season in seasons %}
        {% if app.request.get('season') == season.season.name %}
            <b>{{ season.season.name }}</b>
        {% else %}
        <a href="{{ path('championships_show', {
          'country': app.request.get('country'), 'season': season.season.name,
          'id': app.request.get('id')}) }}" class="spiski">
          {{ season.season.name }}</a>
        {% endif %}
    {% endfor %}

{% endblock %}

{% block content %}
  <div class="teams-list">{{ app.request.get('team') }}
    {% for team in teams %}
      {% if team.translit != app.request.get('id') %}
        <a href="{{ path('championships_show', {'season': app.request.get('season'),
          'id': team.translit, 'country': app.request.get('country')}) }}"
          class="">
          {% if team.image2 %}
            <img src="{{ asset('images/clubs/') }}{{ team.image2 }}"
              alt="{{ team.name }}" title="{{ team.name }}" />
          {% else %}
                {{ team.name }}
          {% endif %}
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <div class="team-show-image">
    <div>
      <h1>{{ club.0.name }}</h1>
      {% if club.0.image %}
      <img src="{{ asset('images/clubs/') }}{{ club.0.image }}"
        alt="{{ club.0.name }}" title="{{ club.0.name }}" />
      {% endif %}
      <table class="shipTable showTeam">
          <thead>
              <tr class="shipTableTitle">
                  <th>&nbsp;</th>
                  <th class="winsTable">И</th>
                  <th class="winsTable">В</th>
                  <th class="winsTable">Н</th>
                  <th class="winsTable">П</th>
                  <th class="goalsTable">M</th>
                  <th class="winsTable">О</th>

              </tr>
          </thead>
          <tbody>
            {% for entity in shiptable %}
              {% if entity.team.name == club.0.name %}
                <tr class="odd">
                    <td class="player-position">{{ loop.index }}</td>
                    <td>{{ entity.wins+entity.nich+entity.porazh }}</td>
                    <td>{{ entity.wins }}</td>
                    <td>{{ entity.nich }}</td>
                    <td>{{ entity.porazh }}</td>
                    <td>{{ entity.mz }}-{{ entity.mp }}</td>
                    <td class="table-score">{{ entity.score }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
                {% if is_granted("ROLE_ADMIN") and lastPlayer is defined %}
                  <div id="lastPlayer">{{ lastPlayer }}</div>
                {% endif %}

                <div class="champ-teams-list">
                  <div class="champ-back">
                    <div class="champ-back-arrow"></div>
                    <a href="{{ path('championships', {'country': app.request.get('country'),
                      'season': app.request.get('season')}) }}">
                      Чемпионат</a>
                  </div>
{% block playersTeam %}
<div class="champ-teams-list">
    <table>
    {% if is_granted("ROLE_ADMIN") == false %}
        <thead>
            <tr class="shipTableTitle">
                <th rowspan="2">&nbsp;</th>
                <th rowspan="2" class="teamStatPlayer">&nbsp;</th>
                <th colspan="2">{{ app.request.get('season') }}</th>
                <th colspan="2">Всего в чемпионатах</th>
                <th colspan="2" class="champ-total-club">Всего за клуб</th>
                <th colspan="2" class="champ-total-all">Всего</th>
                <th rowspan="2" class="teamStatGoal champ-born">Дата рождения</th>
                <th rowspan="2" class="teamStatGoal champ-country">Страна</th>
            </tr>
            <tr class="shipTableTitle">

                <th class="teamStatGoal">И</th>
                <th class="teamStatGoal">Г</th>
                <th class="teamStatGoal">И</th>
                <th class="teamStatGoal">Г</th>
                <th class="teamStatGoal champ-total-club">И</th>
                <th class="teamStatGoal champ-total-club">Г</th>
                <th class="teamStatGoal champ-total-all">И</th>
                <th class="teamStatGoal champ-total-all">Г</th>
            </tr>
        </thead>
        {% endif %}
        <tbody>
        {% for player in players %}
            <tr class="{{ cycle(['odd', 'even'], loop.index) }}
              {% if is_granted("ROLE_ADMIN") %}
                tr-admin
              {% endif %}
            ">
                <td class="player-position">{{ loop.index }}</td>
                <td>
                    <a href="{{ path('player_show', {'id': player.player.translit}) }}" class="spiski">{{ player.player.name }}</a>
               </td>
                <td class="tableGoal">
                    {% if is_granted("ROLE_ADMIN") %}
                    <span class="changeGameGoalPlayer"
                      data-change="minusGame"
                      data-path="playeradmin_editChamp"
                      data-id="{{ player.id }}"
                      data-season="{{ app.request.get('season') }}"
                      data-team="{{ app.request.get('id') }}">-</span>
                    {% endif %}
                    <span data-id="{{ player.id }}" data-param="game">
                      {{ player.game }}
                    </span>
                {% if is_granted("ROLE_ADMIN") %}
                  <span class="changeGameGoalPlayer"
                    data-change="plusGame"
                    data-path="playeradmin_editChamp"
                    data-id="{{ player.id }}"
                    data-season="{{ app.request.get('season') }}"
                    data-team="{{ app.request.get('id') }}">+</span>
                    {% endif %}
                </td>
                <td class="tableGoal">
                    {% if is_granted("ROLE_ADMIN") %}
                    <span class="changeGameGoalPlayer"
                      data-change="minusGoal"
                      data-path="playeradmin_editChamp"
                      data-id="{{ player.id }}"
                      data-season="{{ app.request.get('season') }}"
                      data-team="{{ app.request.get('id') }}">-</span>
                    {% endif %}
                    <span data-id="{{ player.id }}" data-param="goal">
                      {{ player.goal }}
                    </span>

                    {% if is_granted("ROLE_ADMIN") %}
                    <span class="changeGameGoalPlayer"
                      data-change="plusGoal"
                      data-path="playeradmin_editChamp"
                      data-id="{{ player.id }}"
                      data-season="{{ app.request.get('season') }}"
                      data-team="{{ app.request.get('id') }}">+</span>
                    {% endif %}
                </td>
                <td class="champ-team-column total-game">
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('playeradmin_editTotalChamp',
                 {'id': player.id, 'season': app.request.get('season'),
                    'team': app.request.get('id'), 'change': 'minusGame'}) }}">-</a>
                    {% endif %}
                    {{ player.player.rusplayers.0.game }}
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('playeradmin_editTotalChamp',
                 {'id': player.id, 'season': app.request.get('season'),
                    'team': app.request.get('id'), 'change': 'plusGame'}) }}">+</a>
                    {% endif %}
                </td>
                <td class="champ-team-column total-game">
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('playeradmin_editTotalChamp',
                 {'id': player.id, 'season': app.request.get('season'),
                    'team': app.request.get('id'), 'change': 'minusGoal'}) }}">-</a>
                    {% endif %}
                    {{ player.player.rusplayers.0.goal }}
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('playeradmin_editTotalChamp',
                 {'id': player.id, 'season': app.request.get('season'),
                    'team': app.request.get('id'), 'change': 'plusGoal'}) }}">+</a>
                    {% endif %}
                </td>
                <td class="champ-team-column total-game champ-total-club">
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('playeradmin_editTotalTeam',
                 {'id': player.id, 'season': app.request.get('season'),
                    'team': app.request.get('id'), 'change': 'minusGame'}) }}">-</a>
                    {% endif %}
                    {{ player.gameTeam }}
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('playeradmin_editTotalTeam',
                 {'id': player.id, 'season': app.request.get('season'),
                    'team': app.request.get('id'), 'change': 'plusGame'}) }}">+</a>
                    {% endif %}
                </td>
                <td class="champ-team-column total-game champ-total-club">
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('playeradmin_editTotalTeam',
                 {'id': player.id, 'season': app.request.get('season'),
                    'team': app.request.get('id'), 'change': 'minusGoal'}) }}">-</a>
                    {% endif %}
                    {{ player.goalTeam }}
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('playeradmin_editTotalTeam',
                 {'id': player.id, 'season': app.request.get('season'),
                    'team': app.request.get('id'), 'change': 'plusGoal'}) }}">+</a>
                    {% endif %}
                </td>
                <td class="champ-team-column total-game champ-total-all">
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('playeradmin_editTotal',
                 {'id': player.id, 'season': app.request.get('season'),
                    'team': app.request.get('id'), 'change': 'minusGame'}) }}">-</a>
                    {% endif %}
                    {{ player.player.rusplayers.0.totalgame }}
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('playeradmin_editTotal',
                 {'id': player.id, 'season': app.request.get('season'),
                    'team': app.request.get('id'), 'change': 'plusGame'}) }}">+</a>
                    {% endif %}
                </td>
                <td class="champ-team-column total-game champ-total-all">
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('playeradmin_editTotal',
                 {'id': player.id, 'season': app.request.get('season'),
                    'team': app.request.get('id'), 'change': 'minusGoal'}) }}">-</a>
                    {% endif %}
                    {{ player.player.rusplayers.0.totalgoal }}
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('playeradmin_editTotal',
                 {'id': player.id, 'season': app.request.get('season'),
                    'team': app.request.get('id'), 'change': 'plusGoal'}) }}">+</a>
                    {% endif %}
                </td>
                <td class="champ-team-column champ-born">

                    {{ player.player.born | date('d.m.Y') }}

                </td>
                <td class="champ-team-column champ-country">
                    {{ player.player.country.name }}
                </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
        {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('player_newChamp', {'season': app.request.get('season'), 'team': app.request.get('id')}) }}">
            Добавить игрока</a> |
        <a href="{{ path('player_newPlayersteam', {'season': app.request.get('season'), 'team': app.request.get('id')}) }}">
            Добавить игрока в команду</a> |
        <a href="{{ path('player_newRusplayer', {'country': 'russia', 'season': app.request.get('season'), 'team': app.request.get('id')}) }}">
            Добавить нового игрока</a> |
        <a href="{{ path('player_newPlayer', {'country': 'russia',
        'season': app.request.get('season'), 'team': app.request.get('id')}) }}">
            Создать игрока</a>
        {% endif %}
    </div>

  {% endblock %}
{% endblock %}
