{% extends 'shiptable/index.html.twig' %}

{% block title %}
   {{ club.name }} - состав команды  в сезоне {{ app.request.get('season') }}, показатели игроков
{% endblock %}

{% block description %}
    <meta name="description" content="{{ club.name }} {{ app.request.get('season') }},
          авторы забитых мячей">
{% endblock %}

{% block seasons %}

    {% for season in seasons %}
        {% if app.request.get('season') == season.name %}
            <b>{{ season.name }}</b>
        {% else %}
            <a href="{{ path('championships_show', {
              'country': app.request.get('country'), 'season': season.name,
              'id': app.request.get('id')}) }}" class="spiski">
              {{ season.name }}</a>
        {% endif %}
    {% endfor %}

{% endblock %}

{% block content %}

<div class="teams-list">{{ app.request.get('team') }}
  {% for team in teams %}
      <a href="{{ path('championships_show', {'season': app.request.get('season'),
        'id': team.translit, 'country': app.request.get('country')}) }}"
        class="spiski">
        {% if team.image %}
          <img src="{{ team.image }}"
            alt="{{ team.name }}" title="{{ team.name }}" />
        {% else %}
              {{ team.name }}
        {% endif %}
      </a>
  {% endfor %}
</div>

<h1>{{ club.name }}</h1>
<div class="team-show-image">
  <div>
    {% if club.image %}
    <img src="{{ club.image }}"
      alt="{{ club.name }}" title="{{ club.name }}" />
    {% endif %}
  
    <table class="shipTable showTeam">
        <thead>
            <tr class="shipTableTitle">
                <th>&nbsp;</th>
                <th class="winsTable">И</th>
                <th class="winsTable">В</th>
                <th class="winsTable">Н</th>
                <th class="winsTable">П</th>
                <th class="goalsTable">M</th>
                <th class="winsTable">О</th>

            </tr>
        </thead>
        <tbody>
          {% for entity in shiptable %}
            {% if entity.team.name == club.name %}
              <tr class="odd">
                  <td class="player-position">{{ loop.index }}</td>
                  <td>{{ entity.wins+entity.nich+entity.porazh }}</td>
                  <td>{{ entity.wins }}</td>
                  <td>{{ entity.nich }}</td>
                  <td>{{ entity.porazh }}</td>
                  <td>{{ entity.mz }}-{{ entity.mp }}</td>
                  <td class="table-score">{{ entity.score }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="champ-teams-list col-lg-8">


    {% block playersTeam %}

    <table class="champ-show-table">
      {% if is_granted("ROLE_ADMIN") == false %}
        <thead>
            <tr class="shipTableTitle">
                <th>&nbsp;</th>
                <th class="teamStatPlayer">&nbsp;</th>
                <th class="teamStatGoal">И</th>
                <th class="teamStatGoal">Г</th>
                <th class="teamStatGoal nation-cups">Кубок-Г (Суперкубок-Г)</th>
                <th class="teamStatGoal nation-cups">Еврокубки (Г)</th>
                <th class="teamStatGoal nation-cups">Сборные (Г)</th>
                <th class="teamStatGoal">В сезоне (Г)</th>
                <th class="teamStatTotalGoal nation-champs">Всего в чемпионатах топ-5 (И)</th>
                <th class="teamStatTotalGoal nation-champs">Всего в чемпионатах топ-5 (Г)</th>
                <th class="teamStatTotalGoal nation-all">Всего за клубы топ-5 (Г)</th>
                <th class="teamStatGoal champ-born">Дата рождения</th>
                <th class="teamStatGoal champ-country">Страна</th>
            </tr>
        </thead>
        {% endif %}
        <tbody>
        {% for player in players %}
            <tr class="{{ cycle(['odd', 'even'], loop.index) }}
              {% if is_granted("ROLE_ADMIN") %}
                tr-admin
              {% endif %}
            ">
                <td class="player-position">{{ loop.index }}</td>
                <td class="spiski">
                    <a href="{{ path('player_show', {'id': player.player.translit})
                     }}" data-id="{{ player.id }}"
                     class="spiski {% if player.player.name == lastPlayer %}selected{% endif %}">
                     {{ player.player.name }}</a>
                     {% if is_granted("ROLE_ADMIN") %}
                       <a href="{{ path('shipplayer_edit', {
                        'id': player.id, 'country': app.request.get('country'),
                        'season': app.request.get('season'),
                         'team': app.request.get('id')
                       }) }}">=</a>
                       <a href="{{ path('shipplayer_confirm_delete',
                         {'id': player.id, 'type': 'Shipplayer', 'country': app.request.get('country')}) }}">
                          x</a>
                     {% endif %}
                     <span class="loading" data-id="{{ player.id }}">
                       <img src="{{ asset('/images/loading.gif') }}">
                     </span>
                </td>

                <td class="tableGoal shipplayer-game">
                   {% if is_granted("ROLE_ADMIN") %}
                   <span class="changeGameGoalPlayer"
                     data-change="minusGame"
                     data-path="playeradmin_editNation"
                     data-id="{{ player.id }}"
                     data-season="{{ app.request.get('season') }}"
                     data-team="{{ app.request.get('id') }}">-</span>
                    <span data-id="{{ player.id }}" data-param="game">
                      {{ player.game }}
                    </span>
                       <span class="changeGameGoalPlayer"
                         data-change="plusGame"
                         data-path="playeradmin_editNation"
                         data-id="{{ player.id }}"
                         data-season="{{ app.request.get('season') }}"
                         data-team="{{ app.request.get('id') }}">+</span>
                    <input type="text" class="shipplayer-input" value="0"
                      data-id="{{ player.id }}"
                      data-player="{{ player.player.id }}" />
                   {% else %}
                    {{ player.game }}
                   {% endif %}
                  </td>
                  <td class="tableGoal">
                     {% if is_granted("ROLE_ADMIN") %}
                     <span class="changeGameGoalPlayer"
                       data-change="minusGoal"
                       data-path="playeradmin_editNation"
                       data-id="{{ player.id }}"
                       data-season="{{ app.request.get('season') }}"
                       data-team="{{ app.request.get('id') }}">-</span>
                       <span data-id="{{ player.id }}" data-param="goal">
                         {{ player.goal }}
                       </span>
                       <span class="changeGameGoalPlayer"
                         data-change="plusGoal"
                         data-path="playeradmin_editNation"
                         data-id="{{ player.id }}"
                         data-season="{{ app.request.get('season') }}"
                         data-team="{{ app.request.get('id') }}">+</span>
                     {% else %}
                     {{ player.goal }}
                     {% endif %}
                    </td>
                   <td class="column-supercup tableGoal nation-cups">
                      {% if is_granted("ROLE_ADMIN") %}
                          <span class="changeGameGoalPlayer"
                            data-change="minus"
                            data-path="playeradmin_editNationCup"
                            data-id="{{ player.id }}"
                            data-season="{{ app.request.get('season') }}"
                            data-team="{{ app.request.get('id') }}">-</span>
                              <span data-id="{{ player.id }}" data-param="cup">
                                {{ player.cup }}
                              </span>
                            <span class="changeGameGoalPlayer"
                              data-change="plus"
                              data-path="playeradmin_editNationCup"
                              data-id="{{ player.id }}"
                              data-season="{{ app.request.get('season') }}"
                              data-team="{{ app.request.get('id') }}">+</span>
                           (<span class="changeGameGoalPlayer"
                             data-change="minus"
                             data-path="playeradmin_editNationSupercup"
                             data-id="{{ player.id }}"
                             data-season="{{ app.request.get('season') }}"
                             data-team="{{ app.request.get('id') }}">-</span>
                               <span data-id="{{ player.id }}" data-param="supercup">
                                 {{ player.supercup }}
                               </span>
                             <span class="changeGameGoalPlayer"
                               data-change="plus"
                               data-path="playeradmin_editNationSupercup"
                               data-id="{{ player.id }}"
                               data-season="{{ app.request.get('season') }}"
                               data-team="{{ app.request.get('id') }}">+</span>)
                      {% else %}
                        {{ player.cup }}
                        {% if player.supercup > 0 %}
                          ({{ player.supercup }})
                        {% endif %}
                      {% endif %}</td>

                      <td class="tableGoal nation-cups">
                            {% if is_granted("ROLE_ADMIN") %}
                            <span class="changeGameGoalPlayer"
                              data-change="minus"
                              data-path="playeradmin_editNationEurocup"
                              data-id="{{ player.id }}"
                              data-season="{{ app.request.get('season') }}"
                              data-team="{{ app.request.get('id') }}">-</span>
                                <span data-id="{{ player.id }}" data-param="eurocup">
                                  {{ player.eurocup }}
                                </span>
                              <span class="changeGameGoalPlayer"
                                data-change="plus"
                                data-path="playeradmin_editNationEurocup"
                                data-id="{{ player.id }}"
                                data-season="{{ app.request.get('season') }}"
                                data-team="{{ app.request.get('id') }}">+</span>
                            {% else %}
                              {{ player.eurocup }}
                            {% endif %}
                        </td>

                        <td class="tableGoal nation-cups">
                            {% if is_granted("ROLE_ADMIN") %}
                              <span class="changeGameGoalPlayer"
                                data-change="minus"
                                data-path="playeradmin_editNationSbornie"
                                data-id="{{ player.id }}"
                                data-season="{{ app.request.get('season') }}"
                                data-team="{{ app.request.get('id') }}">-</span>
                                  <span data-id="{{ player.id }}" data-param="sbornie">
                                    {{ player.sbornie }}
                                  </span>
                              <span class="changeGameGoalPlayer"
                                data-change="plus"
                                data-path="playeradmin_editNationSbornie"
                                data-id="{{ player.id }}"
                                data-season="{{ app.request.get('season') }}"
                                data-team="{{ app.request.get('id') }}">+</span>
                            {% else %}
                              {% if player.sbornie == '' %}
                                  0
                              {% else %}
                                {{ player.sbornie }}
                              {% endif %}
                            {% endif %}
                        </td>

                <td class="tableGoal">
                    {{ player.sum }}
                </td>
                <td class="tableGoal nation-champs">
                    {{ player.player.game }}
                </td>
                <td class="tableGoal nation-champs">
                    {{ player.player.goal }}
                </td>
                <td class="tableGoal nation-all">
                    {{ player.player.sum }}
                </td>
                <td class="champ-team-column champ-born">
                    {{ player.player.born | date('d.m.Y') }}
                </td>
                <td class="champ-team-column champ-country">
                    {% if player.player.country.image %}
                      <img src="{{ player.player.country.image }}" alt="{{ player.player.country.name }}" title="{{ player.player.country.name }}" />
                    {% else %}
                      {{ player.player.country.name }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     {% if is_granted("ROLE_ADMIN") %}
     <a href="{{ path('player_newChampNation', {'season': app.request.get('season'),
     'country': app.request.get('country'), 'team': app.request.get('id'), 'flag':'team'}) }}">
         Добавить игрока {{ club.name }}</a> |
     <a href="{{ path('player_newChampNation', {'season': app.request.get('season'),
     'country': app.request.get('country'), 'team': app.request.get('id'), 'flag':'country'}) }}">
         Добавить игрока {{ club.country.name }}</a> |
     <a href="{{ path('player_newChampNation', {'season': app.request.get('season'),
     'country': app.request.get('country'), 'team': app.request.get('id'),
     'flag':'top5'}) }}">
         Добавить игрока топ-5</a> |
      <a href="{{ path('player_newChampNation', {'season': app.request.get('season'),
         'country': app.request.get('country'), 'team': app.request.get('id'),
         'flag':'lch'}) }}">
             Добавить игрока ЛЧ</a> |
       <a href="{{ path('player_newChampNation', {'season': app.request.get('season'),
          'country': app.request.get('country'), 'team': app.request.get('id'),
          'flag':'mund'}) }}">
              Добавить игрока сборных</a> |
      <a href="{{ path('player_newChampNation', {'season': app.request.get('season'),
      'country': app.request.get('country'), 'team': app.request.get('id'),
      'flag':'all'}) }}">
          Добавить игрока</a> |
      <a href="{{ path('player_newChampLast', {'season': app.request.get('season'), 'route': 'championships_show',
      'country': app.request.get('country'), 'team': app.request.get('id')}) }}">
          Добавить последнего игрока</a> |
            <a href="{{ path('playeradmin_editPlayerTurnirs', {'season': app.request.get('season'),
        'country': app.request.get('country'), 'team': app.request.get('id')}) }}">
            Обновить игрока</a> |
        <a href="{{ path('player_newPlayer', {'country': app.request.get('country'),'route' : 'championships_show',
        'season': app.request.get('season'), 'team': app.request.get('id')}) }}">
            Создать игрока</a> |
        <a href="javascript:void(0)" id="shipplayersUpdate" data-champ="top5">
            Обновить игроков</a>
        {% endif %}
  </div>

  <div class="col-lg-4 team-last-matches">
    {{ include('shiptable/lastMatches.html.twig', {'lastMatches': lastMatches }) }}
  </div>
</div>
    {% endblock %}
{% endblock %}
