{% extends 'shiptable/show.html.twig' %}
{% block content %}

<div class="teams-list">{{ app.request.get('team') }}
  {% for team in teams %}
    {% if team.translit != app.request.get('id') %}
      <a href="{{ path('championships_show', {'season': app.request.get('season'),
      'id': team.translit, 'country': app.request.get('country')}) }}"
      class="">
            {{ team.name }}</a>
    {% endif %}
  {% endfor %}
</div>

<h1>{{ club.0.name }}</h1>

{% if is_granted("ROLE_ADMIN") and lastPlayer is defined %}
  <div>{{ lastPlayer }}</div>
{% endif %}

<div class="champ-teams-list">
  <div class="champ-back">
    <div class="champ-back-arrow"></div>
    <a href="{{ path('championships', {'country': app.request.get('country'),
      'season': app.request.get('season')}) }}">
      Чемпионат</a>
  </div>
{% block playersTeam %}
<div class="champ-teams-list">
    <table class="champ-show-table">
      {% if is_granted("ROLE_ADMIN") == false %}
        <thead>
            <tr class="shipTableTitle">
                <th rowspan="2">&nbsp;</th>
                <th rowspan="2" class="teamStatPlayer">&nbsp;</th>
                <th colspan="2">{{ app.request.get('season') }}</th>
                <!--th colspan="2">Всего в чемпионатах</th>
                <th colspan="2">Всего за клуб</th>
                <th colspan="2">Всего</th-->
                <th rowspan="2" class="teamStatGoal">Дата рождения</th>
                <th rowspan="2" class="teamStatGoal">Страна</th>
            </tr>
            <tr class="shipTableTitle">

                <th class="teamStatGoal">И</th>
                <th class="teamStatGoal">Г</th>

            </tr>
        </thead>
        {% endif %}
        <tbody>
        {% for player in players %}
            <tr class="{{ cycle(['odd', 'even'], loop.index) }}
              {% if is_granted("ROLE_ADMIN") %}
                tr-admin
              {% endif %}
            ">
                <td class="player-position">{{ loop.index }}</td>
                <td>
                    <a href="{{ path('player_show', {'id': player.player.translit}) }}" class="spiski">{{ player.player.name }}</a>
               </td>
                <td class="tableGoal">
                    {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('playeradmin_editFnl',
                 {'id': player.id, 'season': app.request.get('season'),
                    'team': app.request.get('id'), 'change': 'minusGame'}) }}">-</a>
                    {% endif %}
                    {{ player.game }}
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('playeradmin_editFnl',
                 {'id': player.id, 'season': app.request.get('season'),
                    'team': app.request.get('id'), 'change': 'plusGame'}) }}">+</a>
                    {% endif %}
                </td>
                <td class="tableGoal">
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('playeradmin_editFnl',
                 {'id': player.id, 'season': app.request.get('season'),
                    'team': app.request.get('id'), 'change': 'minusGoal'}) }}">-</a>
                    {% endif %}
                    {{ player.goal }}

                    {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('playeradmin_editFnl',
                 {'id': player.id, 'season': app.request.get('season'),
                    'team': app.request.get('id'), 'change': 'plusGoal'}) }}">+</a>
                    {% endif %}
                </td>

                <td class="champ-team-column total-game">

                    {{ player.player.born | date('d.m.Y') }}

                </td>
                <td class="champ-team-column total-game">

                    {{ player.player.country.name }}

                </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
        {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('player_newFnl', {'season': app.request.get('season'), 'team': app.request.get('id')}) }}">
            Добавить игрока</a> |
        <a href="{{ path('player_newRusplayer', {'country': 'fnl', 'season': app.request.get('season'), 'team': app.request.get('id')}) }}">
            Добавить нового игрока</a> |
        <a href="{{ path('player_newPlayer', {'country': 'fnl',
        'season': app.request.get('season'), 'team': app.request.get('id')}) }}">
            Создать игрока</a>
        {% endif %}
</div>

{% endblock %}
{% endblock %}
