{% for match in matches %}
    <tr class="champ-match-title">
        {% if is_granted("ROLE_ADMIN") %}
            {% if app.request.get('country')=='russia' %}
                <td colspan="5">
                    <a href="{{ path('championships_newrus', {'id': match.id}) }}">
                        {{ match.data | date('d.m H:i') }}</a>
                    <a href="{{ path('championships_edit', {'id': match.id,
                        'country': app.request.get('country')}) }}">
                        изменить</a>
                    <a href="{{ path('championships_confirm_delete',
                        {'id': match.id, 'country': app.request.get('country')}) }}">
                        удалить</a>
                </td>
            {% else %}
                <td colspan="5">
                    <a href="{{ path('championships_new', {'id': match.id}) }}">
                        {{ match.data | date('d.m H:i') }}</a>
                    <a href="{{ path('championships_edit', {'id': match.id,
                        'country': app.request.get('country')}) }}">
                        изменить</a>
                    <a href="{{ path('championships_confirm_delete',
                        {'id': match.id, 'country': app.request.get('country')}) }}">
                        удалить</a>
                </td>
            {% endif %}
        {% else %}
            <td colspan="5">
                {% if match.status == 1 %}
                    {{ match.data | date('d.m H:i') }}
                {% else %}
                    {{ match.data | date('d.m') }}
                {% endif %}
            </td>
        {% endif %}
    </tr>
    <tr>
        <td class="champTourTeam">
            <a href="{{ path('championships_show', {
                'country': app.request.get('country'),
                'season': app.request.get('season'),
                'id': match.team.translit}) }}">{{ match.team.name }}</a>
        </td>
        <td class="champTourImage">
            {% if match.team.image %}
                <img {% if match.team.translit == 'union' %}class="long"{% endif %} src="{{ asset('images/clubs/') }}{{ match.team.image }}"
                        alt="{{ match.team.name }}" title="{{ match.team.name }}" />
            {% endif %}
        </td>
        <td class="champTourScore">
            {% if match.status == 1 %}
                -:-
            {% else %}
                {{ match.goal1 }}:{{ match.goal2 }}
            {% endif %}
        </td>
        <td class="champTourImage">
            {% if match.team2.image %}
                <img {% if match.team2.translit == 'union' %}class="long"{% endif %} src="{{ asset('images/clubs/') }}{{ match.team2.image }}"
                        alt="{{ match.team2.name }}" title="{{ match.team2.name }}" />
            {% endif %}
        </td>
        <td class="champTourTeam">
            <a href="{{ path('championships_show', {
                'country': app.request.get('country'),
                'season': app.request.get('season'),
                'id': match.team2.translit}) }}">{{ match.team2.name }}</a>
        </td>
    </tr>
    <tr class="champ-match-bomb">
        <td colspan="6" class="">{{ match.bomb }}</td>
    </tr>


{% endfor %}